<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Suspect List</title>
</head>

<style>
</style>
<body>
	<div layout:fragment="content">
		<div style="padding-top: 0px" class="" th:fragment="ajax-container">
			<!-- 			<div class="row"> -->
			<!-- 				<div id="breadcrumb" class="col-md-12"> -->
			<!-- 					<ol class="breadcrumb"> -->
			<!-- 						<li><a class="ajax-link" href="./compose"><i -->
			<!-- 								class="fa fa-angle-double-left fa-lg"> </i></a></li> -->
			<!-- 					</ol> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-users"></i> <span>Assigned Client List</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="table-responsive">
								<table class="table table-bordered  table-hover  table-datatable suspect-table" id="">
									<thead>
										<tr>
											<th class="order">ID</th>
											<th>Name</th>
											<th class="">Address</th>
											<th class="">Representative</th>
											<th class="noshow">Phone</th>
											<th class="noshow">Website</th>
											<th class="noshow">Industry</th>
											<th class="noshow">Annual Revenue</th>
											<th class="nosort nosearch">Actions</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start: list_row -->

										<tr th:each="suspect : ${data}">
											<td class="nosort" th:text="${suspect.id}">Onions</td>
											<td th:text="${suspect.name}">Onions</td>
											<td th:text="${suspect.address}">Onions</td>
											<td th:text="${suspect.srepresentative}">Onions</td>
											<td th:text="${suspect.phone}">Onions</td>
											<td th:text="${suspect.website}">Onions</td>
											<td class="cannull" th:text="${suspect.industry}">Onions</td>
											<td th:text="${suspect.annualrevenue}">Onions</td>
											<td>
												<button class="quick-details btn btn-xs btn-raised" title="quick details">
													<i class="fa fa-eye fa-lg"></i>
												</button>

												<button class="details-button btn btn-xs btn-raised" title="See Details">
													<a class="" th:href="@{'./getClientDetails/'+${suspect.id}}"><i class="fa fa-asterisk fa-lg"></i></a>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div layout:fragment="script">


		<script th:inline="javascript">
			/*<![CDATA[*/

	
				
				var suspectTable;

				$(document).ready(function()
				{
					suspectTable = $('.suspect-table').DataTable(
					{
						"jQueryUI" : false,
						"autoWidth": false,
						"lengthChange" : true,
						"lengthMenu" : [ 5, 10, 25, 50, 75, 100 ],
						"order" : [ [ 0, 'desc' ] ],
						"columnDefs" : [
						{
							"targets" : 'nosort',
							"orderable" : false
						},
						{
							"targets" : 'nosearch',
							"searchable" : false
						},
						{
							"targets" : 'noshow',
							"visible" : false
						},

						{
							"targets" : 'cannull',
							"defaultContent" : "<i>Not set</i>"
						},
// 						{
// 							orderable : false,
// 							className : 'select-checkbox',
// 							targets : 0
// 						},
						// {
						// "className" : 'details-control',
						// "orderable" : false,
						// "width" : "2%",
						// "data" : null,
						//				
						// "defaultContent" : '',
						// "targets" : 0
						// },
						// {
						// "data" : null,
						// "defaultContent" : "<button>Edit</button>",
						// "targets" : -1
						// }
						],

						"initComplete" : function(settings, json)
						{

						},
						"rowCallback" : function(row, data, index)
						{

						},
						"dom" : 'lifrtp',
// 						"buttons" : [ 
// 						{
// 							extend : 'selectAll',
// 							className : 'btn-dt'
// 						},
// 						{
// 							extend : 'selectNone',
// 							className : 'btn-dt'
// 						},
// 						{
// 							text : 'Assign Sales Associate',
// 							className : 'btn-dt',
// 							action : function()
// 							{
// 								var selectedSuspects = suspectTable.rows(
// 								{
// 									selected : true
// 								}).data();
// 								var selectedSa = saTable.rows(
// 								{
// 									selected : true
// 								}).data();

// 								if (!empty(salesRepUsername))
// 								{

// 									var url = "./assignSalesRep/" + salesRepUsername;

// 									var dataObj =
// 									{
// 										"ids" : []
// 									};

// 									for ( var key in selectedSuspects)
// 									{
// 										if (isset(selectedSuspects[key][1]))

// 											dataObj.ids.push(selectedSuspects[key][1]);
// 									}

// 									ajaxJsonPost(url, dataObj, function(data)
// 									{

// 										showStatus(data.success, data.msg);

// 										if (data.success == true)
// 										{
// 											suspectTable.rows(
// 											{
// 												selected : true
// 											}).remove().draw();
// 											saTable.rows(
// 											{
// 												selected : true
// 											}).deselect().draw();

// 										}

// 									}, function()
// 									{

// 										showStatus(false, "Failed to assign");

// 									});
// 								} else
// 								{

// 									showStatus(false, "Please Select a Sales Associate to assign the Suspect");

// 								}

// 								console.log(selectedSuspects.length);
// 								console.log(salesRepUsername);

// 							}
// 						} ],

						"renderer" : "bootstrap",

						
						"responsive" :
						{
							"details" :
							{
								display : $.fn.dataTable.Responsive.display.modal(
								{
									header : function(row)
									{
										var data = row.data();
										return 'Details for ' + data[0] + ' ' + data[1];
									}
								}),
								renderer : function(api, rowIdx, columns)
								{
									var data = $.map(columns, function(col, i)
									{
										return '<tr>' + '<td>' + col.title + ':' + '</td> ' + '<td>' + col.data + '</td>' + '</tr>';
									}).join('');

									return $('<table class="table"/>').append(data);
								}
							}
						},
						"scrollX" : false,

// 						"select" :
// 						{
// 							style : 'multi',
// 							selector : 'td:first-child'
// 						}

					});

					/* Formatting function for row details - modify as you need */
					function format(d)
					{

						console.log(d);

						var strVar = "";
						strVar += "<div class=\"card\">";
						strVar += "		<h4 class=\"page-header\" >Quick Details<\/h4>";
						strVar += "							<table class=\"table table-bordered\">";
						strVar += "								<tbody>";
						strVar += "									<tr>";
						strVar += "										<td><label>Name<\/label><\/td>";
						strVar += "										<td><label>" + d[2] + "<\/label><\/td>";
						strVar += "									<\/tr>								";
						strVar += "									<tr>";
						strVar += "										<td><label>Address<\/label><\/td>";
						strVar += "										<td><label>" + d[3] + "<\/label><\/td>";
						strVar += "									<\/tr>								";
						strVar += "									<tr>";
						strVar += "										<td><label>Phone<\/label><\/td>";
						strVar += "										<td><label>" + d[4] + "<\/label><\/td>";
						strVar += "									<\/tr>								";
						strVar += "									<tr>";
						strVar += "										<td><label>Website<\/label><\/td>";
						strVar += "										<td><label><a href=\""+d[5]+"\" target=\"_blank\">" + d[5] + "</a><\/label><\/td>";
						strVar += "									<\/tr>								";
						strVar += "									<tr>";
						strVar += "										<td><label>Industry<\/label><\/td>";
						strVar += "										<td><label>" + d[6] + "<\/label><\/td>";
						strVar += "									<\/tr>								";
						strVar += "								<\/tbody>";
						strVar += "							<\/table>";
						strVar += "	<\/div>";

						return strVar;

					}

					suspectTable.on('click', '.quick-details', function()
					{
						var tr = $(this).closest('tr');
						var row = suspectTable.row(tr);

						var icon = $(this).children('i');

						if (row.child.isShown())
						{

							icon.removeClass('fa-eye-slash').addClass('fa-eye');

							// This row is already open - close it
							row.child.hide();
							tr.removeClass('shown');
						} else
						{

							icon.removeClass('fa-eye').addClass('fa-eye-slash');

							// Open this row
							row.child(format(row.data())).show();
							tr.addClass('shown');
						}
					});

					suspectTable.on('select', function(e, dt, type, indexes)
					{

						// 					var row = table.row(indexes);

						// // // Open this row
						// row.child(format(row.data())).show();
						// $(e.target).addClass('shown');

					}).on('deselect', function(e, dt, type, indexes)
					{

						// 					var row = table.row(indexes);

						//				// // // This row is already open - close it
						//				row.child.hide();
						//				$(e.target).removeClass('shown');

					});
				

				
				
				// Add Drag-n-Drop feature
				WinMove();
			});

			/*]]>*/
		</script>
	</div>
</body>
</html>