<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layout/layout">

<head>
	<title>Add Suspect</title>
	<style>
		#map {
			height: 400px;
		}

		.controls {
			margin-top: 10px;
			border: 1px solid transparent;
			border-radius: 2px 0 0 2px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 32px;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}

		#pac-input {
			background-color: #fff;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			margin-left: 12px;
			padding: 0 11px 0 13px;
			text-overflow: ellipsis;
			width: 300px;
		}

		#pac-input:focus {
			border-color: #4d90fe;
		}

		.pac-container {
			font-family: Roboto;
		}

		#type-selector {
			color: #fff;
			background-color: #4d90fe;
			padding: 5px 11px 0px 11px;
		}

		#type-selector label {
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
		}
	</style>
</head>


<body>

<div layout:fragment="content">
	<div class="" th:fragment="ajax-container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-pencil-o"></i> <span>Add New Suspect</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<form  method="post" class="form-horizontal suspect-form">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label ">Company Name</label>
									<div class="col-sm-5">
										<input type="text" id="name" class="form-control" name="name"  placeholder="Enter name" required="required"/>
									</div>
								</div>
								<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">Priority</label>-->

								<!--<div class="col-sm-5">-->
								<!--<select id="select_priority" class="populate placeholder" name="priority">-->
								<!--<option value="" selected="selected">Select a priority</option>-->
								<!--<option th:each="type : ${T(com.worksap.stm.sb.type.Priority).values()}" th:value="${type}" th:text="${type}"></option>-->
								<!--</select>-->
								<!--</div>-->
								<!--</div>-->
								<!--<div class="form-group">-->
								<!--<label class="col-sm-3 control-label">Status</label>-->

								<!--<div class="col-sm-5">-->
								<!--<select id="select_status" class="populate placeholder" name="status">-->
								<!--<option value="" selected="selected">Select a status</option>-->
								<!--<option th:each="type : ${T(com.worksap.stm.sb.type.ClientStatusType).values()}" th:value="${type}" th:text="${type}"></option>-->
								<!--</select>-->
								<!--</div>-->
								<!--</div>-->
							</fieldset>
							<fieldset>
								<legend>Contact Informations</legend>
								<div class="form-group">
									<label class="col-sm-3 control-label">Contact Name</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="contactname"  placeholder="Enter Contact Name" required="required"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Title</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="contacttitle" placeholder="Enter title" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Contact No</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="contactno" placeholder="Enter contact Number" required="required"  />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Email</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="email" placeholder="Enter email" required="required" />
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Address</legend>
								<div class="form-group">
									<label class="col-sm-3 control-label">Address</label>
									<div class="col-sm-5">
										<textarea class="form-control" rows="5" name="address" placeholder="Enter Address" required="required"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Phone</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="phone" placeholder="Enter company phone" required="required"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Website</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="website" placeholder="Enter company website"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Latitude:Longitude</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="lat" readonly="readonly" name="geolocation.lat" />
									</div>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="lng" readonly="readonly" name="geolocation.lng" />
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Other</legend>
								<div class="form-group">
									<label class="col-sm-3 control-label">Industry</label>
									<div class="col-sm-5">
										<input class="populate placeholder" id="select_industry" name="industry" placeholder="Enter company type" required="required"></input>

									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Annual Revenue</label>
									<div class="col-sm-3">
										<input type="number" min="10000" max="25000000000" step="1000" class="form-control" id="annual_rev" name="annualrevenue" placeholder="Annual Revenue" required="required" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Company Size Number</label>
									<div class="col-sm-3">
										<input type="number" min="10" max="100000000" step="10" class="form-control" name="employeesize" id="employeeno" placeholder="Company Size"  required="required"/>
									</div>
								</div>
							</fieldset>
							<input hidden="hidden" id="placeid" name="placeid" value="" />
							<div class="form-group">
								<div class="col-sm-9 col-sm-offset-3">
									<button type="submit" class="btn btn-primary btn-raised">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-pencil-o"></i> <span>Select Geolocation</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<input id="pac-input" class="controls" type="text" placeholder="Search Box" />
						<div id="map"></div>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>

<div layout:fragment="script">


	<script th:inline="javascript">
		/*<![CDATA[*/

		var map;
		var lat = $('#lat');
		var lng = $('#lng');
		var image = "resources/app/img/marker.png";
		var subjectMarker;

		function latlng()
		{

			if (isset(lat.val()) && isset(lng.val()))
			{
				return new google.maps.LatLng(lat.val(), lng.val());
			} else
			{

			}

		}
		function position()
		{
			map.setCenter(latlng());
		}

		function createMarker(position)
		{
			subjectMarker = new google.maps.Marker(
					{
						position : position,
						map : map,
						icon : image,
						draggable : true
					});

			google.maps.event.addListener(subjectMarker, 'dragend', function(e)
			{
				map.panTo(e.latLng);
				subjectMarker.setPosition(e.latLng);

				$('#lat').val(e.latLng.lat());
				$('#lng').val(e.latLng.lng());

			});

		}

		function initMap()
		{

			console.log(latlng());

			var position = latlng();

			if (empty(position.lat()) || empty(position.lng()))
			{

				position = new google.maps.LatLng(1.280095, 103.850949);
			}

			map = new google.maps.Map(document.getElementById("map"),
					{
						zoom : 11,
						center : position,
						mapTypeId : google.maps.MapTypeId.ROADMAP
					});

			map.addListener('click', function(e)
			{
				map.panTo(e.latLng);
				subjectMarker.setPosition(e.latLng);

				$('#lat').val(e.latLng.lat());
				$('#lng').val(e.latLng.lng());

			});

			// Create the search box and link it to the UI element.
			var input = document.getElementById('pac-input');
			var searchBox = new google.maps.places.SearchBox(input);
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

			// Bias the SearchBox results towards current map's viewport.
			map.addListener('bounds_changed', function()
			{
				searchBox.setBounds(map.getBounds());

				console.log(map.getBounds);
			});

			var markers = [];
			// Listen for the event fired when the user selects a prediction and retrieve
			// more details for that place.
			searchBox.addListener('places_changed', function()
			{
				var places = searchBox.getPlaces();

				if (places.length == 0)
				{
					return;
				}

				// Clear out the old markers.
				markers.forEach(function(marker)
				{
					marker.setMap(null);
				});
				markers = [];

				// For each place, get the icon, name and location.
				var bounds = new google.maps.LatLngBounds();
				places.forEach(function(place)
				{
					var icon =
					{
						url : place.icon,
						size : new google.maps.Size(71, 71),
						origin : new google.maps.Point(0, 0),
						anchor : new google.maps.Point(17, 34),
						scaledSize : new google.maps.Size(25, 25)
					};

					// Create a marker for each place.
					markers.push(new google.maps.Marker(
							{
								map : map,
								icon : icon,
								title : place.name,
								position : place.geometry.location
							}));

					if (place.geometry.viewport)
					{
						// Only geocodes have viewport.
						bounds.union(place.geometry.viewport);
					} else
					{
						bounds.extend(place.geometry.location);
					}
				});
				map.fitBounds(bounds);
			});

			createMarker(position);

		}

		$(document).ready(function()
		{

			var selectizeIndustryElem = $('#select_industry').selectize(
					{
						plugins : [ 'remove_button' ],
						delimiter : ',',
						persist : false,
						preload : true,
						openOnFocus : true,
						valueField : 'value',
						labelField : 'label',
						searchField : 'label',

						options : [],
						create : true,
						maxItems: 1,
						load : function(query, callback)
						{
							if (!query.length)
								return callback();
							$.ajax(
									{
										url : [[@{resources/json/mapsearchtypes.json}]],
							type : 'GET',
									dataType : 'json',
								error : function()
						{
							callback();
						},
							success : function(res)
							{
								callback(res);
							}
						});
						}
					})[0].selectize;


			$("#name").change(function()
			{

				var placeidStr = $(this).val().toLowerCase().replace(/ /g, "+");
				console.log(placeidStr);

				$("#placeid").val(placeidStr);

			});



			var salesRepSuspectAddUrl = [[@{/createSuspect}]];



			$('.suspect-form').submit(function() {
				var dataToPost = $('form').serializeObject();

				console.log(dataToPost);

				ajaxJsonPost(salesRepSuspectAddUrl,dataToPost,function(data){

					showStatus(data.success,data.msg);


					if(data.success)
					{
						$(location).attr("href",[[@{/}]]);
					}


				}, function (xhr) {

				})

				return false;
			});



		});

		/*]]>*/
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&amp;libraries=places"></script>
</div>
</body>
</html>