<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">

<head>
<title>Tutorials Management</title>
</head>

<style>
</style>
<body>
	<div layout:fragment="content">
		<div style="padding-top: 0px" class="" th:fragment="ajax-container">


			<div class="row">
				<div class="col-xs-12 col-sm-10">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-book"></i> <span>Tutorials</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							</a> <a class="close-link"> <i class="fa fa-times"></i>
							</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<form id="create-form" method="post" th:action="@{'/createNote'}" action="#"
								  class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Heading</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="heading" value="" placeholder="Heading"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Type</label>
										<div class="col-sm-8">
											<select name="type" class="form-control select-type" placeholder="Select Type">
												<option th:each="type : ${T(com.worksap.stm.sb.type.NoteType).values()}"
														th:value="${type}" th:text="${type}"></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Text</label>
										<div class="col-sm-8">
											<textarea type="text" rows="30" class="form-control text" id="ckeditor"
													  name="text" value=""></textarea>
										</div>
									</div>
								</fieldset>


								<input hidden="hidden" name="creator" th:value="${session.username}"/>
								<input hidden="hidden" name="clientid" value="0"/>
								<div class="form-group">
									<div class="col-sm-9 col-sm-offset-3">
										<button type="submit" class="btn btn-primary btn-raised">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/



			$(document).ready(function()
			{

				var selectizeCleintElem = $('.select-type').selectize(
				{})[0].selectize;

				var editor = $('.text');
				CkEditorStart(editor[0].id,null);

			});



			/*]]>*/
		</script>
	</div>
</body>
</html>