<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Proposal Details</title>

<style type="text/css">
</style>
</head>
<body>


<div layout:fragment="content">
	<div class="" th:fragment="ajax-container">

		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-info"></i> <span
								th:text="${'Proposal for '+data.name}">Proposal Details </span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<div class="card">
							<div class="form-group label-floating">
								<div class="input-group">
									<label class="control-label"></label>
									<h4 class="page-header">List of Tasks</h4>
									<span th:if="${proposal.status.toString().equals('OPEN')}" class="input-group-btn">
										<button type="button" class="btn btn-fab btn-fab-mini send-prop">
											<a title="Mail To the client"> <i class="fa fa-envelope-o"></i></a>
										</button>
									</span>
								</div>
							</div>

							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
									<tr>
										<th class="hidden">Opportunity id</th>
										<th>Task Type</th>
										<th>Area in Sq m.</th>
										<th>Days in week</th>
										<th>Times</th>
										<th>Day Shift</th>
										<th>Night Shift</th>
										<th>Required By Client</th>
										<th>Task Cost</th>
										<th th:if="${proposal.status.toString().equals('OPEN')}" >Remove</th>

									</tr>
									</thead>
									<tbody>
									<tr th:each="op: ${proposal.opportunities}">
										<td class="hidden opp-id" th:text="${op.id}"> </td>
										<td><label class="task" th:text="${op.product.task + ' '+op.product.surface}"> </label></td>
										<td><label th:text="${op.area}"> </label></td>
										<td><label th:text="${op.week}"> </label></td>
										<td><label th:text="${op.timesinshift}"> </label></td>
										<td><label th:text="${op.shift.day ? 'Yes':'No'}"> </label></td>
										<td><label th:text="${op.shift.night ? 'Yes':'No'}"> </label></td>
										<td><label th:text="${op.required ? 'Yes':'No'}"> </label></td>
										<td><label th:text="${op.cost}"> </label></td>
										<td th:if="${proposal.status.toString().equals('OPEN')}" ><a class="btn btn-raised btn-xs opp-del"><i class="fa fa-times"></i></a></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card">
							<h4 class="page-header">Pricing Details</h4>

							<div class="table-responsive">
								<table class="table table-bordered">
									<tbody>
									<tr>
										<td><label> Discounted Price: </label></td>
										<td><label class="price" th:text="${proposal.discountedprice}">Not Set</label></td>
									</tr>
									<tr>
										<td><label>Total Cost: </label></td>
										<td><label th:text="${proposal.cost}">Not Set</label></td>
									</tr>

									<tr>
										<td><label>Profit </label></td>
										<td><label class="profit" th:text="${proposal.profit}">Not Set</label>
										</td>
									</tr>
									<tr>
										<td><label>Discount </label></td>
										<td><label th:text="${proposal.disStr+' %'}">Not Set</label></td>
									</tr>
									<tr>
										<td><label>Loyalty Discount </label></td>
										<td><label th:text="${proposal.loyaltyDisStr+' %'}">Not Set</label></td>
									</tr>
									<tr>
										<td><label>Given Discount </label></td>
										<td><label th:text="${proposal.givenDisStr+' %'}">Not Set</label></td>
									</tr>

									<tr>
										<td><label>Start Date</label></td>
										<td><label th:text="${proposal.start}">Not Set</label></td>
									</tr>
									<tr>
										<td><label>End Date</label></td>
										<td><label th:text="${proposal.end}">Not Set</label></td>
									</tr>
									<tr>
										<td><label>Duration</label></td>
										<td><label th:text="${proposal.validfor+' weeks'}">Not Set</label></td>
									</tr>
									<tr>
										<td><label># of Cleaners</label></td>
										<td><label th:text="${proposal.numberofcleaners}">Not Set</label></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div th:if="${!proposal.closed}" class="card ">
							<div class="vcard"></div>
							<h4 class="page-header">Update Proposal:</h4>

							<form class="form-horizontal proposal-change-form" method="post" th:action="@{/updateProposal/__${proposal.id}__}">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Change Start Date</label>
										<div class="col-sm-5">
											<input type="date" class="form-control"  format="dd/MM/yyyy" name="start" th:value="${proposal.start}" />
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Change Duration (weeks)</label>
										<div class="col-sm-5">
											<input type="number" class="form-control"   name="validfor" th:value="${proposal.validfor}" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Change Discount(%)</label>
										<div class="col-sm-5">
											<input type="number" step="any" class="form-control"   name="givendiscount" th:value="${proposal.givenDisStr}" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Number of cleaners</label>
										<div class="col-sm-5">
											<input type="number" class="form-control"   name="numberofcleaners" th:value="${proposal.numberofcleaners}" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<div class="col-md-6 col-md-offset-2">
											<input type="submit" class="btn btn-raised btn-primary"/>
										</div>
									</div>
								</fieldset>
							</form>

						</div>
						<div th:if="${!proposal.closed}" class="card ">
							<div class="vcard"></div>
							<h4 class="page-header">Change Status</h4>

							<div class="">
								<a th:if="${proposal.status.toString().equals('OPEN')}"
								   class="btn btn-block btn-raised btn-default chng-status-prop"
								   th:href="@{/updateProposalStatus/__${proposal.id}__/PROPOSED}">Set As Proposed</a> <a
									th:if="${proposal.status.toString().equals('PROPOSED')}"
									class="btn btn-block btn-raised btn-success chng-status-prop"
									th:href="@{/updateProposalStatus/__${proposal.id}__/WON}">WON</a> <a
									th:if="${proposal.status.toString().equals('PROPOSED')}"
									class="btn btn-block btn-raised btn-danger chng-status-prop"
									th:href="@{/updateProposalStatus/__${proposal.id}__/LOST}">LOST</a>
							</div>

							<!--<div class="">-->
								<!--<a th:if="${proposal.status.toString().equals('OPEN')}"-->
								   <!--class="btn btn-block btn-raised btn-default chng-status-prop"-->
								   <!--th:href="@{/refreshPrices/__${proposal.id}__}"><i class="fa fa-refresh fa-lg"></i>-->
									<!--Refresh Proposal</a>-->
							<!--</div>-->

						</div>
					</div>
				</div>
			</div>




			<div class="col-xs-12 col-sm-5">
				<div class="box">
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-info"></i> <span>Other Informations</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
						</div>
						<div class="no-move"></div>
					</div>
					<div class="box-content">
						<div>
							<!-- Nav tabs -->
							<ul class="nav  nav-pills" role="tablist">
								<li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
								<li role="presentation" class=""><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>
								<li role="presentation" class=""><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
								<li role="presentation"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">Timeline</a></li>
								<li role="presentation"><a href="#sentmail" aria-controls="sentmail" role="tab" data-toggle="tab">Sent Mails</a></li>
								<li role="presentation" class=""><a href="#requirments" aria-controls="tasks" role="tab" data-toggle="tab">Requirements</a></li>
								<li role="presentation"><a href="#proposals" aria-controls="timeline" role="tab" data-toggle="tab">Proposals</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="details">
									<div class="box">
										<div class="box-content">
											<div class="card">
												<div class="form-group label-floating">
													<div class="input-group">
														<label class="control-label"></label>
														<h4 class="page-header" th:text="${data.name}">ABCDEF
															company</h4>
									 <span th:if="${data.email != null}" class="input-group-btn">
										<button type="button" class="btn btn-fab btn-fab-mini">
											<a title="Send Email" th:href="@{'./mailClient/'+${data.id}}"><i
													class="fa fa-envelope"></i></a>
										</button>
									</span>
													</div>
												</div>
												<div class="table-responsive">
													<table class="table table-bordered">
														<tbody>
														<tr>
															<td><label> Contact Name: </label></td>
															<td><label
																	th:text="${data.contactname != null ? data.contactname:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label> Title: </label></td>
															<td><label
																	th:text="${data.contacttitle != null ? data.contacttitle:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label> Contact No: </label></td>
															<td><label
																	th:text="${data.contactno != null ? data.contactno:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label> Contact Email: </label></td>
															<td><label
																	th:text="${data.email != null ? data.email:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label> Company Website: </label></td>
															<td><a th:if="${data.website !=null}"
																   th:href="${data.website}"
																   target="_blank">Visit
																Website</a></td>
														</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="card">
												<h4 class="page-header">Additional Details</h4>
												<div class="table-responsive">
													<table class="table table-bordered">
														<tbody>
														<tr>
															<td><label>Annual Revenue/Income: </label></td>
															<td><label
																	th:text="${data.annualrevenue != null ? data.annualrevenue:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label>Number of Employees </label></td>
															<td><label
																	th:text="${data.employeesize != null ? data.employeesize:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label> Decision Time: </label></td>
															<td><label
																	th:text="${data.decisiontime != null ? data.decisiontime:'Not Set'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label>Priority Level: </label></td>
															<td><label
																	th:text="${data.priority != null ? data.priority:'Not Set'}"
																	th:class="${data.priority.toString().equals('LOW') ? 'label label-danger':'label label-info'}">Not
																Set</label></td>
														</tr>
														<tr>
															<td><label> Status: </label></td>
															<td>
																<div class="input-group">
																	<label th:text="${data.status != null ? data.status:'Not Set'}"
																		   th:class="${data.status.toString().equals('SUSPECT') || data.status.toString().equals('REMOVED') || data.status.toString().equals('EXCLIENT') ? 'label label-danger':'label label-info'}">Not
																		Set</label> <span class="input-group-btn">


										</span>
																</div>
															</td>
														</tr>
														<tr>
															<td><label> Industry: </label></td>
															<td><label
																	th:text="${data.industry != null ? data.industry.replaceAll(',',', '):'Not Set'}">Not
																Set</label></td>
														</tr>
														</tbody>
													</table>
												</div>
											</div>

										</div>
									</div>

								</div>

								<div role="tabpanel" class="tab-pane " id="tasks">
									<div th:replace="fragments/client-details/tasks :: body"></div>
								</div>
								<div role="tabpanel" class="tab-pane " id="notes">
									<div th:replace="fragments/client-details/notes :: body"></div>
								</div>

								<div role="tabpanel" class="tab-pane " id="timeline">
									<div th:replace="fragments/client-details/timeline :: body"></div>
								</div>
								<div role="tabpanel" class="tab-pane " id="sentmail">
									<div th:replace="fragments/client-details/sentmail :: body"></div>
								</div>
								<div role="tabpanel" class="tab-pane" id="requirments">
									<div th:replace="fragments/client-details/requirements :: body"></div>
								</div>
								<div role="tabpanel" class="tab-pane " id="proposals">
									<div th:replace="fragments/client-details/proposals :: body"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div th:replace="fragments/sales/sales-this-month:: main"></div>

			</div>


		</div>


	</div>
</div>



	<div layout:fragment="script">




		<script th:inline="javascript">
			/*<![CDATA[*/


			var getCurrentSalesStatsUrl = [[@{/getCurrentSales}]];
			$(document).ready(function()
			{

//				$('.update-btn').on('click', function()
//				{
//
//
//
//					var data =
//					{
//						'price' : value
//					}
//
//					console.log(data);
//
//					var url = [[@{/updateProposalPrice/}]]+[[${proposal.id}]];
//
//					ajaxJsonPost(url,data,function(data){
//
//						showStatus(data.success,data.msg);
//
//						$('.profit').text('S$ '+ data.data.profit);
//						$('.price').text( 'S$ '+data.data.price);
//						slider_range_amount.val("S$ " + data.data.price);
//
//						location.reload();
//
//
//					},function(){});
//
//
//				});
				



				$(".proposal-change-form").submit(function(e){

					e.preventDefault();


					ajaxJsonPost($(this).attr("action"),$(this).serializeObject(),function(data)
					{
//
//						showStatus(data.success,data.msg);


						notifyBaseOnClose("",data.msg,'info',1000,"",function(){



							location.reload();

						})


					},function(xhr)
					{

					});





					e.preventDefault();
				});






				$('.send-prop').on('click',function(){
					
					
					bootBoxConfirmation("Mail This Proposal to client ?",function()
					{
						
						var mailPropUrl = [[@{/mailProposal/}]]+[[${proposal.id}]]; 
						
						$(location).attr('href',mailPropUrl);
						
					},function(){});
					
				});

                $('.opp-del').on('click',function(){


                    var row = $(this).closest('tr');
                    var oppId = row.find('.opp-id').text();
                    var task = row.find('.task').text();

//                    alert(oppId);
//                    alert(JSON.stringify(row));

					bootBoxConfirmation("Delete "+task+" from the proposal ?",function()
					{
                        var deleteOppUrl = [[@{/removeOpp/}]]+ [[${proposal.id}]]+'/'+oppId;

//                        alert(deleteOppUrl);


                        ajaxJsonGET(deleteOppUrl,{},function(data){

                            if(data.success)
                            {
                                row.remove();


                                var refreshUrl = [[@{/refreshPrices/}]]+[[${proposal.id}]];

                                $(location).attr("href",refreshUrl);
                            }


                            showStatus(data.success,data.msg);

                        },function(){




                        });

					},function(){});

				});



				
				
// 				$('.chng-status-prop').on('click',function(){
					
					
// 					var type = $(this).data('status');
// 					var updatePropStatusUrl = [[@{{/updateProposalStatus}}]]+[[${proposal.id}]];
					
// 					var data = {
							
// 							'status': type
// 					}
					
// 					ajaxJsonPost(updatePropStatusUrl,data,function(data)
// 					{
				
// 					})
			
					
					
// 				});

			});

			/*]]>*/
		</script>


		<script th:src="@{/resources/devoops/plugins/sparkline/jquery.sparkline.min.js}"></script>

		<script th:src="@{/resources/app/js/sales-this-month.js}"></script>



		<script th:inline="javascript">
			/*<![CDATA[*/

			var editTaskUrl = [[@{/editTask}]];

			var getCatUrl = [[@{/getCategories}]];

			var getSubCatUrl = [[@{/getSubCategories/}]];

			var reqUrl = [[@{'/setRequirement/'+${clientid}}]];

			var newProposalUrl = [[@{'/newProposal/'+${clientid}}]];

			var hasOpenProposalUrl = [[@{'/hasOpenProposal/'+${clientid}}]];

			var deletePropUrl = [[@{/deleteProposal}]];

			var detailPropUrl = [[@{/detailProposal/}]];


			var deleteReqInfo = [[@{/deleteReqInfo/}]];


			var clientid = [[${clientid}]];

			/*]]>*/
		</script>

		<script type="text/javascript" th:src="@{/resources/app/js/client-details-notes.js}"></script>
		<script type="text/javascript" th:src="@{/resources/app/js/client-details-tasks.js}"></script>
		<script type="text/javascript" th:src="@{/resources/app/js/client-details-req.js}"></script>
		<script type="text/javascript" th:src="@{/resources/app/js/client-details-prop.js}"></script>
		<script type="text/javascript" th:src="@{/resources/app/js/client-details-sentmails.js}"></script>


	</div>

</body>
</html>