<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Suspect List</title>
</head>

<style>
</style>
<body>
	<div layout:fragment="content">

		<div style="padding-top: 0px" class="" th:fragment="ajax-container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-users"></i> <span>Suspects List</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="table-responsive">
								<table class="table table-bordered  table-hover  table-datatable suspect-table" id="">
									<thead>
										<tr>


											<th class="order noshow">ID</th>
											<th>Name</th>
											<th class="">Address</th>
											<th class="noshow">Phone</th>
											<th class="noshow">Website</th>
											<th class="">Industry</th>
											<th class="">Priority</th>
											<th class="">Added By</th>
											<th class="">Lead Score</th>
											<th class="">Annual Revenue</th>
											<th class="nosort nosearch">Actions</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start: list_row -->

										<tr th:each="suspect : ${data}">


											<td class="nosort" th:text="${suspect.id}">Onions</td>
											<td th:text="${suspect.name}">Onions</td>
											<td th:text="${suspect.address}">Onions</td>
											<td th:text="${suspect.phone}">Onions</td>
											<td th:text="${suspect.website}">Onions</td>
											<td th:text="${suspect.industry}">Onions</td>
											<td th:text="${suspect.priority}">Onions</td>
											<td th:text="${suspect.sadder}">Onions</td>
											<td th:text="${suspect.leadscore}">Onions</td>
											<td class="cannull" th:text="${suspect.annualrevenue}">Onions</td>
											<td>
												<a class="btn btn-xs btn-raised details-btn" th:href="@{'./getClientDetails/'+${suspect.id}}">Details</a>

												<a class="btn btn-raised btn-xs btn-primary btn-default chng-status-client"
												   th:href="@{/updateClientStatus/__${suspect.id}__/PROSPECT/1}" title="Upgrade to Prospect">Set As PROSPECT</a>

												<a  class="btn btn-raised btn-xs btn-danger chng-status-client"
												   th:href="@{/updateClientStatus/__${suspect.id}__/REMOVED/1}" title="Remove Client from thge System">Discard</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div layout:fragment="script">


		<script th:inline="javascript">
			/*<![CDATA[*/

			var suspectTable;
			var saTable;
			var salesRepUsername;


            var performanceOnIndustryUrl = [[@{/performanceOnIndustry}]];

			$(document).ready(function()
			{
				suspectTable = $('.suspect-table').DataTable(
				{
					"jQueryUI" : false,
					"autoWidth": false,
					"lengthChange" : true,
					"lengthMenu" : [  10, 25, 50, 75, 100 ],
					"order" : [ [ 8, 'desc' ] ],
					"columnDefs" : [
					{
						"targets" : 'nosort',
						"orderable" : false
					},
					{
						"targets" : 'nosearch',
						"searchable" : false
					},
					{
						"targets" : 'noshow',
						"visible" : false
					},

					{
						"targets" : 'cannull',
						"defaultContent" : "<i>Not set</i>"
					},
					{
						orderable : false,
						className : 'select-checkbox',
						targets : 0
					},
					],

					"initComplete" : function(settings, json)
					{

					},
					"rowCallback" : function(row, data, index)
					{

					},
					"rowId": '1',
					"dom" : 'lifrtp',

					"renderer" : "bootstrap",

					"responsive" :
					{
						"details" :
						{
							display : $.fn.dataTable.Responsive.display.modal(
							{
								header : function(row)
								{
									var data = row.data();
									return 'Details for ' + data[0] + ' ' + data[1];
								}
							}),
							renderer : function(api, rowIdx, columns)
							{
								var data = $.map(columns, function(col, i)
								{
									return '<tr>' + '<td>' + col.title + ':' + '</td> ' + '<td>' + col.data + '</td>' + '</tr>';
								}).join('');

								return $('<table class="table"/>').append(data);
							}
						}
					},
					"scrollX" : false,



				});



			});


			/*]]>*/
		</script>
	</div>
</body>
</html>