<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>My Pipeline</title>


<style>
* {
	margin: 0;
}

.panel-title
{
	color: #000000 !important
}

.upcoming  {
	background: #8dbbd3 !important;
}
.current  {
	background: #e4e19d !important;
}
.missed  {
	background: #d38d90 !important;
}



.ui-widget {
	background: #eeeeee;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	border-color: #ffffff color: black;
}

.delegated .ui-widget-header {
	background: #e4af8d !important;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	color: #ffffff;
}
.ui-widget-header {
	background: #337ab7 !important;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	color: #ffffff;
}

.panel {
	height: 850px;
	overflow: hidden;
}

.panel-body {
	height: 95%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}



.column {
	width: 100%;
	height: 99%;
	overflow: auto;
	padding-right: 15px;
	position: absolute;
}

.table-detail {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 90%;
	line-height: 1.1;
}

.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}

.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
	cursor: pointer;
}

.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}

.portlet-content {
	display: none;
	padding: 0.4em;
}

.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}
</style>

</head>


<body>
	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">

			<div class="row" id="divmain">
				<!--<div class=" col-xs-12 col-md-2">-->
					<!--<div class="panel panel-danger">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">-->
								<!--<i class="fa fa-list"></i> Removed-->
							<!--</h3>-->
						<!--</div>-->
						<!--<div class="panel-body ">-->
							<!--<div class="column" id="REMOVED">-->
								<!--<div th:each="client: ${data}" th:if="${client.status.toString().equals('REMOVED')}" th:class="${client.delegated? 'delegated portlet':'portlet'}" th:attr="id=${client.id}">-->
									<!--<div class="portlet-header" th:text="${client.delegated? client.srepresentative +' '+ client.name :client.name }">Feeds</div>-->
									<!--<div class="portlet-content">-->
										<!--<div class="list-group-item">-->
											<!--<div class="row-content">-->
												<!--<div class="least-content ">-->
													<!--<a class="btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.id}}"><i class="fa fa-info fa-lg"></i></a>-->
												<!--</div>-->

												<!--<h5 class="">Address</h5>-->

												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Address</td>-->
															<!--<td th:text="${client.address}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Phone:</td>-->
															<!--<td th:text="${client.phone != null ? client.phone:'Not Set'}">Not Set</td>-->
														<!--</tr>-->

													<!--</tbody>-->
												<!--</table>-->
												<!--<h5 class="">Contact Info</h5>-->
												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Name:</td>-->
															<!--<td th:text="${client.contactname != null ? client.contactname:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Title:</td>-->
															<!--<td th:text="${client.contacttitle != null ? client.contacttitle:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact No:</td>-->
															<!--<td th:text="${client.contactno != null ? client.contactno:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact Email:</td>-->
															<!--<td th:text="${client.email != null ? client.email:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Company Website:</td>-->
															<!--<td><a th:if="${client.website !=null}" th:href="${client.website}" target="_blank">Visit Website</a></td>-->
														<!--</tr>-->
													<!--</tbody>-->
												<!--</table>-->

											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->


							<!--</div>-->
						<!--</div>-->

					<!--</div>-->
				<!--</div>-->

				<!--<div class=" col-xs-12 col-md-2">-->
					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">-->
								<!--<i class="fa fa-list"></i> Suspects-->
							<!--</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<div class="column" id="SUSPECT">-->
								<!--<div th:each="client: ${data}" th:if="${client.status.toString().equals('SUSPECT')}" th:class="${client.delegated? 'delegated portlet':'portlet'}" th:attr="id=${client.id}">-->
									<!--<div class="portlet-header" th:text="${client.name}">Feeds</div>-->
									<!--<div class="portlet-content">-->
										<!--<div class="list-group-item">-->
											<!--<div class="row-content">-->
												<!--<div class="least-content ">-->
													<!--<a class="btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.id}}"><i class="fa fa-info fa-lg  "></i></a>-->
												<!--</div>-->

												<!--<h5 class="">Address</h5>-->

												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Address</td>-->
															<!--<td th:text="${client.address}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Phone:</td>-->
															<!--<td th:text="${client.phone != null ? client.phone:'Not Set'}">Not Set</td>-->
														<!--</tr>-->

													<!--</tbody>-->
												<!--</table>-->
												<!--<h5 class="">Contact Info</h5>-->
												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Name:</td>-->
															<!--<td th:text="${client.contactname != null ? client.contactname:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Title:</td>-->
															<!--<td th:text="${client.contacttitle != null ? client.contacttitle:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact No:</td>-->
															<!--<td th:text="${client.contactno != null ? client.contactno:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact Email:</td>-->
															<!--<td th:text="${client.email != null ? client.email:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Company Website:</td>-->
															<!--<td><a th:if="${client.website !=null}" th:href="${client.website}" target="_blank">Visit Website</a></td>-->
														<!--</tr>-->
													<!--</tbody>-->
												<!--</table>-->

											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<div class=" col-xs-12 col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> REMOVED
							</h3>
						</div>
						<div class="panel-body">
							<div class="column" id="REMOVED">

								<div th:each="client: ${data}" th:if="${client.client.status.toString().equals('REMOVED')}" th:class="${client.client.delegated? 'delegated portlet '+client.cssClass:'portlet '+client.cssClass}" th:attr="id=${client.client.id}">
									<div class="portlet-header" th:text="${client.client.delegated? client.client.srepresentative +' '+ client.client.name :client.client.name }">Feeds</div>
									<div class="portlet-content">
										<div class="list-group-item">
											<div class="row-content">
												<div class="least-content">
													<a class=" btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.client.id}}"><i class="fa fa-info fa-lg  "></i></a>
												</div>

												<h5 class="">Latest Task</h5>
												<h6 th:text="${client.taskTitle}">Latest Task Status</h6>

												<table class="table table-bordered table-detail table-condensed">
													<tbody>
														<tr>
															<td>Info</td>
															<td th:text="${client.text}">Not Set</td>
														</tr>
														<tr>
															<td>Task Status</td>
															<td th:text="${client.status}">Not Set</td>
														</tr>

														<tr th:if="${client.status.toString().equals('DUE')}" >
															<td>Task Phase</td>
															<td th:text="${client.taskstatus}">Not Set</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class=" col-xs-12 col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> PROSPECT
							</h3>
						</div>
						<div class="panel-body">
							<div class="column" id="PROSPECT">

								<div th:each="client: ${data}" th:if="${client.client.status.toString().equals('PROSPECT')}" th:class="${client.client.delegated? 'delegated portlet '+client.cssClass:'portlet '+client.cssClass}" th:attr="id=${client.client.id}">
									<div class="portlet-header" th:text="${client.client.delegated? client.client.srepresentative +' '+ client.client.name :client.client.name }">Feeds</div>
									<div class="portlet-content">
										<div class="list-group-item">
											<div class="row-content">
												<div class="least-content">
													<a class=" btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.client.id}}"><i class="fa fa-info fa-lg  "></i></a>
												</div>

												<!--<h5 class="">Latest Task Status</h5>-->
												<h6 th:text="${client.taskTitle}">Latest Task Status</h6>

												<table class="table table-bordered table-detail table-condensed">
													<tbody>
													<tr>
														<td>Info</td>
														<td th:text="${client.text}">Not Set</td>
													</tr>
													<tr>
														<td>Task Status</td>
														<td th:text="${client.status}">Not Set</td>
													</tr>

													<tr th:if="${client.status.toString().equals('DUE')}" >
														<td>Task Phase</td>
														<td th:text="${client.taskstatus}">Not Set</td>
													</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> PROFILED
							</h3>
						</div>
						<div class="panel-body">
							<div class="column" id="PROFILED">

								<div th:each="client: ${data}" th:if="${client.client.status.toString().equals('PROFILED')}" th:class="${client.client.delegated? 'delegated portlet '+client.cssClass:'portlet '+client.cssClass}" th:attr="id=${client.client.id}">
									<div class="portlet-header" th:text="${client.client.delegated? client.client.srepresentative +' '+ client.client.name :client.client.name }">Feeds</div>
									<div class="portlet-content">
										<div class="list-group-item">
											<div class="row-content">
												<div class="least-content">
													<a class=" btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.client.id}}"><i class="fa fa-info fa-lg  "></i></a>
												</div>

												<!--<h5 class="">Latest Task Status</h5>-->
												<h6 th:text="${client.taskTitle}">Latest Task Status</h6>

												<table class="table table-bordered table-detail table-condensed">
													<tbody>
													<tr>
														<td>Info</td>
														<td th:text="${client.text}">Not Set</td>
													</tr>
													<tr>
														<td>Task Status</td>
														<td th:text="${client.status}">Not Set</td>
													</tr>

													<tr th:if="${client.status.toString().equals('DUE')}" >
														<td>Task Phase</td>
														<td th:text="${client.taskstatus}">Not Set</td>
													</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> PROPOSED
							</h3>
						</div>
						<div class="panel-body">
							<div class="column" id="PROPOSED">

								<div th:each="client: ${data}" th:if="${client.client.status.toString().equals('PROPOSED')}" th:class="${client.client.delegated? 'delegated portlet '+client.cssClass:'portlet '+client.cssClass}" th:attr="id=${client.client.id}">
									<div class="portlet-header" th:text="${client.client.delegated? client.client.srepresentative +' '+ client.client.name :client.client.name }">Feeds</div>
									<div class="portlet-content">
										<div class="list-group-item">
											<div class="row-content">
												<div class="least-content">
													<a class=" btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.client.id}}"><i class="fa fa-info fa-lg  "></i></a>
												</div>

												<!--<h5 class="">Latest Task Status</h5>-->
												<h6 th:text="${client.taskTitle}">Latest Task Status</h6>

												<table class="table table-bordered table-detail table-condensed">
													<tbody>
													<tr>
														<td>Info</td>
														<td th:text="${client.text}">Not Set</td>
													</tr>
													<tr>
														<td>Task Status</td>
														<td th:text="${client.status}">Not Set</td>
													</tr>

													<tr th:if="${client.status.toString().equals('DUE')}" >
														<td>Task Phase</td>
														<td th:text="${client.taskstatus}">Not Set</td>
													</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> ACTIVE
							</h3>
						</div>
						<div class="panel-body">
							<div class="column" id="ACTIVE">

								<div th:each="client: ${data}" th:if="${client.client.status.toString().equals('ACTIVE')}" th:class="${client.client.delegated? 'delegated portlet '+client.cssClass:'portlet '+client.cssClass}" th:attr="id=${client.client.id}">
									<div class="portlet-header" th:text="${client.client.delegated? client.client.srepresentative +' '+ client.client.name :client.client.name }">Feeds</div>
									<div class="portlet-content">
										<div class="list-group-item">
											<div class="row-content">
												<div class="least-content">
													<a class=" btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.client.id}}"><i class="fa fa-info fa-lg  "></i></a>
												</div>

												<!--<h5 class="">Latest Task Status</h5>-->
												<h6 th:text="${client.taskTitle}">Latest Task Status</h6>

												<table class="table table-bordered table-detail table-condensed">
													<tbody>
													<tr>
														<td>Info</td>
														<td th:text="${client.text}">Not Set</td>
													</tr>
													<tr>
														<td>Task Status</td>
														<td th:text="${client.status}">Not Set</td>
													</tr>

													<tr th:if="${client.status.toString().equals('DUE')}" >
														<td>Task Phase</td>
														<td th:text="${client.taskstatus}">Not Set</td>
													</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-xs-12 col-sm-2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> EXCLIENT
							</h3>
						</div>
						<div class="panel-body">
							<div class="column" id="EXCLIENT">

								<div th:each="client: ${data}" th:if="${client.client.status.toString().equals('EXCLIENT')}" th:class="${client.client.delegated? 'delegated portlet '+client.cssClass:'portlet '+client.cssClass}" th:attr="id=${client.client.id}">
									<div class="portlet-header" th:text="${client.client.delegated? client.client.srepresentative +' '+ client.client.name :client.client.name }">Feeds</div>
									<div class="portlet-content">
										<div class="list-group-item">
											<div class="row-content">
												<div class="least-content">
													<a class=" btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.client.id}}"><i class="fa fa-info fa-lg  "></i></a>
												</div>

												<!--<h5 class="">Latest Task Status</h5>-->
												<h6 th:text="${client.taskTitle}">Latest Task Status</h6>

												<table class="table table-bordered table-detail table-condensed">
													<tbody>
													<tr>
														<td>Info</td>
														<td th:text="${client.text}">Not Set</td>
													</tr>
													<tr>
														<td>Task Status</td>
														<td th:text="${client.status}">Not Set</td>
													</tr>

													<tr th:if="${client.status.toString().equals('DUE')}" >
														<td>Task Phase</td>
														<td th:text="${client.taskstatus}">Not Set</td>
													</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<!--<div class=" col-xs-12 col-sm-2">-->
					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">-->
								<!--<i class="fa fa-list"></i> Profiled-->
							<!--</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<div class="column" id="PROFILED">-->


								<!--<div th:each="client: ${data}" th:if="${client.status.toString().equals('PROFILED')}" th:class="${client.delegated? 'delegated portlet':'portlet'}" th:attr="id=${client.id}">-->
									<!--<div class="portlet-header" th:text="${client.delegated? client.srepresentative +' '+ client.name :client.name }">Feeds</div>-->
									<!--<div class="portlet-content">-->
										<!--<div class="list-group-item">-->
											<!--<div class="row-content">-->
												<!--<div class="least-content ">-->
													<!--<a class="btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.id}}"><i class="fa fa-info fa-lg  "></i></a>-->
												<!--</div>-->

												<!--<h5 class="">Address</h5>-->

												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Address</td>-->
															<!--<td th:text="${client.address}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Phone:</td>-->
															<!--<td th:text="${client.phone != null ? client.phone:'Not Set'}">Not Set</td>-->
														<!--</tr>-->

													<!--</tbody>-->
												<!--</table>-->
												<!--<h5 class="">Contact Info</h5>-->
												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Name:</td>-->
															<!--<td th:text="${client.contactname != null ? client.contactname:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Title:</td>-->
															<!--<td th:text="${client.contacttitle != null ? client.contacttitle:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact No:</td>-->
															<!--<td th:text="${client.contactno != null ? client.contactno:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact Email:</td>-->
															<!--<td th:text="${client.email != null ? client.email:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Company Website:</td>-->
															<!--<td><a th:if="${client.website !=null}" th:href="${client.website}" target="_blank">Visit Website</a></td>-->
														<!--</tr>-->
													<!--</tbody>-->
												<!--</table>-->

											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class=" col-xs-12 col-sm-2">-->
					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">-->
								<!--<i class="fa fa-list"></i> Proposed-->
							<!--</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<div class="column" id="PROPOSED">-->

								<!--<div th:each="client: ${data}" th:if="${client.status.toString().equals('PROPOSED')}" th:class="${client.delegated? 'delegated portlet':'portlet'}" th:attr="id=${client.id}">-->
									<!--<div class="portlet-header" th:text="${client.delegated? client.srepresentative +' '+ client.name :client.name }">Feeds</div>-->
									<!--<div class="portlet-content">-->
										<!--<div class="list-group-item">-->
											<!--<div class="row-content">-->
												<!--<div class="least-content ">-->
													<!--<a class="btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.id}}"><i class="fa fa-info fa-lg  "></i></a>-->
												<!--</div>-->

												<!--<h5 class="">Address</h5>-->

												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Address</td>-->
															<!--<td th:text="${client.address}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Phone:</td>-->
															<!--<td th:text="${client.phone != null ? client.phone:'Not Set'}">Not Set</td>-->
														<!--</tr>-->

													<!--</tbody>-->
												<!--</table>-->
												<!--<h5 class="">Contact Info</h5>-->
												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Name:</td>-->
															<!--<td th:text="${client.contactname != null ? client.contactname:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Title:</td>-->
															<!--<td th:text="${client.contacttitle != null ? client.contacttitle:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact No:</td>-->
															<!--<td th:text="${client.contactno != null ? client.contactno:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact Email:</td>-->
															<!--<td th:text="${client.email != null ? client.email:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Company Website:</td>-->
															<!--<td><a th:if="${client.website !=null}" th:href="${client.website}" target="_blank">Visit Website</a></td>-->
														<!--</tr>-->
													<!--</tbody>-->
												<!--</table>-->

											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class=" col-xs-12 col-sm-2">-->
					<!--<div class="panel panel-success">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">-->
								<!--<i class="fa fa-list"></i> Active-->
							<!--</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<div class="column" id="ACTIVE">-->

								<!--<div th:each="client: ${data}" th:if="${client.status.toString().equals('ACTIVE')}" th:class="${client.delegated? 'delegated portlet':'portlet'}" th:attr="id=${client.id}">-->
									<!--<div class="portlet-header" th:text="${client.delegated? client.srepresentative +' '+ client.name :client.name }">Feeds</div>-->
									<!--<div class="portlet-content">-->
										<!--<div class="list-group-item">-->
											<!--<div class="row-content">-->
												<!--<div class="least-content ">-->
													<!--<a class="btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.id}}"><i class="fa fa-info fa-lg  "></i></a>-->
												<!--</div>-->

												<!--<h5 class="">Address</h5>-->

												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Address</td>-->
															<!--<td th:text="${client.address}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Phone:</td>-->
															<!--<td th:text="${client.phone != null ? client.phone:'Not Set'}">Not Set</td>-->
														<!--</tr>-->

													<!--</tbody>-->
												<!--</table>-->
												<!--<h5 class="">Contact Info</h5>-->
												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Name:</td>-->
															<!--<td th:text="${client.contactname != null ? client.contactname:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Title:</td>-->
															<!--<td th:text="${client.contacttitle != null ? client.contacttitle:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact No:</td>-->
															<!--<td th:text="${client.contactno != null ? client.contactno:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact Email:</td>-->
															<!--<td th:text="${client.email != null ? client.email:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Company Website:</td>-->
															<!--<td><a th:if="${client.website !=null}" th:href="${client.website}" target="_blank">Visit Website</a></td>-->
														<!--</tr>-->
													<!--</tbody>-->
												<!--</table>-->

											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class=" col-xs-12 col-sm-2">-->
					<!--<div class="panel panel-success">-->
						<!--<div class="panel-heading">-->
							<!--<h3 class="panel-title">-->
								<!--<i class="fa fa-list"></i> Ex Client-->
							<!--</h3>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<div class="column" id="EXCLIENT">-->

								<!--<div th:each="client: ${data}" th:if="${client.status.toString().equals('EXCLIENT')}" th:class="${client.delegated? 'delegated portlet':'portlet'}" th:attr="id=${client.id}">-->
									<!--<div class="portlet-header" th:text="${client.delegated? client.srepresentative +' '+ client.name :client.name }">Feeds</div>-->
									<!--<div class="portlet-content">-->
										<!--<div class="list-group-item">-->
											<!--<div class="row-content">-->
												<!--<div class="least-content ">-->
													<!--<a class="btn btn-raised btn-block" th:href="@{'./getClientDetails/'+${client.id}}"><i class="fa fa-info fa-lg  "></i></a>-->
												<!--</div>-->

												<!--<h5 class="">Address</h5>-->

												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Address</td>-->
															<!--<td th:text="${client.address}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Phone:</td>-->
															<!--<td th:text="${client.phone != null ? client.phone:'Not Set'}">Not Set</td>-->
														<!--</tr>-->

													<!--</tbody>-->
												<!--</table>-->
												<!--<h5 class="">Contact Info</h5>-->
												<!--<table class="table table-bordered table-detail table-condensed">-->
													<!--<tbody>-->
														<!--<tr>-->
															<!--<td>Name:</td>-->
															<!--<td th:text="${client.contactname != null ? client.contactname:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Title:</td>-->
															<!--<td th:text="${client.contacttitle != null ? client.contacttitle:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact No:</td>-->
															<!--<td th:text="${client.contactno != null ? client.contactno:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Contact Email:</td>-->
															<!--<td th:text="${client.email != null ? client.email:'Not Set'}">Not Set</td>-->
														<!--</tr>-->
														<!--<tr>-->
															<!--<td>Company Website:</td>-->
															<!--<td><a th:if="${client.website !=null}" th:href="${client.website}" target="_blank">Visit Website</a></td>-->
														<!--</tr>-->
													<!--</tbody>-->
												<!--</table>-->

											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->


			</div>





		</div>
	</div>

	<div layout:fragment="script">


		<script th:inline="javascript">
			/*<![CDATA[*/

			$(function()
			{
				$(".column").sortable(
				{
					connectWith : ".column",
					handle : ".portlet-header",
					cancel : ".portlet-toggle",
					placeholder : "portlet-placeholder ui-corner-all",
					items : ".portlet",
					scroll : false,
					helper : 'clone',
					appendTo : 'body',
					revert : true,
					receive : function(event, ui)
					{
						
						var name = $(ui.item).find('.portlet-header').text();
						
						
						
						bootBoxConfirmation("Are you sure you want to change Status of "+name+"?",function()
						{
							
							 var newstatus = event.target.id; 
							 var oldstatus = ui.sender.attr('id');		
							 var clientid = ui.item.attr("id");
							 
							 
							 var values = {};
							 
							 values['newstatus'] = newstatus;
							 values['oldstatus'] = oldstatus;
							 
							 var url = [[@{/updateClientStatus/}]]+clientid;
							 
							 
							 console.log(url);
							 console.log(values);
							 
							 
							 ajaxJsonPost(url,values,function(data){
								 
								 if(data.success)
								 {
								 
									 showStatus(true,"Client Status updated.");

//									 if(newstatus == "PROSPECT")
//									 {
//										 ui.item.remove();
//									 }
								 }
								 
								 else
								 {
									 showStatus(data.success, data.msg);
									 $(ui.sender).sortable('cancel');
								 
								 }
								 
							 },function(){
								
								 $(ui.sender).sortable('cancel');
								 showStatus(false, "Failed to update client status");
							 });
							
						},function()
						{
							$(ui.sender).sortable('cancel');
						});
						
						
						
					

						 
					},
					

				});

				$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all").find(".portlet-header").addClass(
						"ui-widget-header ui-corner-all").prepend("<span class='ui-icon ui-icon-plusthick portlet-toggle'></span>");

				$(".portlet-toggle").click(function()
				{
					var icon = $(this);
					icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
					icon.closest(".portlet").find(".portlet-content").toggle();
				});
				
				$('.portlet').on('click','.portlet-header',function()
				{
					var icon = $(this).find(".portlet-toggle");
					
					icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
					icon.closest(".portlet").find(".portlet-content").toggle();

					
				});

			});

			$(document).ready(function()
			{

				if ($('div#main').hasClass('sidebar-show'))
				{

				} else
				{
					$('div#main').toggleClass('sidebar-show');
					setTimeout(MessagesMenuWidth, 250);
				}


			});

			/*]]>*/
		</script>

	</div>
</body>
</html>