<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Client Details</title>

<style type="text/css">
</style>
</head>
<body>

	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-pencil-square"></i> <span>Compose Email</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">

							<form id="" class="form-horizontal email-form" method="post" th:action="@{/sendEmail/__${data.id}__}">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label">Select Recipient</label>
										<div class="col-sm-4">
											<select id="" name="reciever" class=" form-control populate placeholder">
												<option>client.sales.booster@gmail.com</option>
												<option th:text="${data.email}" selected="selected"></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Subject</label>
										<div class="col-sm-4">
											<input type="text" name="subject" class="form-control" placeholder="Subject" data-toggle="tooltip" data-placement="bottom"
												title="Write email subject ehre" />
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="form-styles">Email</label>
										<div class="col-sm-8">
											<textarea name="body" id="editor" class="form-control email-body" rows="20"></textarea>
										</div>
									</div>

								</fieldset>

								<fieldset>
									<div class="form-group">

										<label class="col-sm-2 control-label" for="form-styles">Date and Time of Sending</label>

										<div class="col-sm-2">
											<input type="text" name="datetime" class=" fa fa-calendar form-control input_datetime" value="" placeholder="Date and time" />
										</div>
										<div class="col-sm-2">
										</div>
									</div>
								</fieldset>


								<input type="number" name="clientid" th:value="${data.id}" hidden="hidden" />

								<div class="form-group">

									<div class="col-sm-9 col-sm-offset-3">
										<button type="submit" class="btn btn-primary btn-raised">Send</button>
									</div>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">

		<script th:inline="javascript">
			/*<![CDATA[*/
			// Run timepicker
			$(document)
					.ready(
							function()
							{


								var editor = $('.email-body');
								CkEditorStart('editor',null);
								CKEDITOR.instances.editor.setData( [[${pretext}]], function()
								{
									this.checkDirty();  // true
								});

								CKEDITOR.on( 'instanceReady', function( evt ) {
									// your stuff here

									$('.email-form').submit(function(event)
									{

										var form = $(this);

										var data = form.serialize();

										console.log(form);
										console.log(data);

										$.ajax(
										{
											type : form.attr('method'),
											url : form.attr('action'),
											data : form.serialize(),

											beforeSend:function()
											{
												notify("Processing email....", "", "info");
											},
											success:function(data)
											{
												console.log(data);

												showStatus(data.success, data.msg)


												if(data.success)
												{
													form[0].reset();


													//code before the pause
													setTimeout(function(){
														//do what you need here
														$(location).attr("href",[[@{${backurl}}]]);
													}, 1500);
												}

											},
											error:function(data)
											{
												// Optionally alert the user of success here...


												console.log(data);

												showStatus(false, "Error sending email. Try again");


											},
										});

										event.preventDefault(); // Prevent the form from submitting via the
										// browser.
									});
								} );

								// Initialize datepicker
								$('.input_datetime').datetimepicker(
								{
									minDate : 0,
									dateFormat: "dd/mm/yy",
									timeFormat:"HH:mm"
								});

							});
			/*]]>*/
		</script>
	</div>
</body>
</html>