<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Add Service</title>
<style type="text/css">
.wrappable {
	word-wrap: break-word;
}
</style>
</head>


<body>
	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">

			<div class="modalTarget create-service-modal">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="box-content">
							<form id="create-form" method="post" th:action="@{'/createService'}" action="#" class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Surface Type</label>
										<div class="col-sm-5">
											<input type="text" class="form-control select-sur" name="surface" value="" placeholder="Enter Cleaning Surface Type"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Task</label>
										<div class="col-sm-5">
											<input type="text" class="form-control select-task" name="task" value=""  placeholder="Enter Task Name"/>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label" title="Fixed Cost ">Fixed Cost</label>
										<div class="col-sm-5">
											<input type="number"  min="0" step="0.5" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" placeholder="Enter Fixed Cost For The Service"
												name="fixed" />
										</div>
									</div>
									
									<div class="form-group" title="Variable Cost [Per  Square m]">
										<label class="col-sm-3 control-label">Variable Cost Per sq m.</label>
										<div class="col-sm-5">
											<input type="number"  min="0" step="0.001" data-number-to-fixed="4" data-number-stepfactor="100" class="form-control" placeholder="Enter Variable Cost Per Sq. M."
												name="var" />
										</div>
									</div>
									
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Priority</label>

										<div class="col-sm-5">
											<select id="" class="populate placeholder select-priority" name="priority">
												<option th:each="type : ${T(com.worksap.stm.sb.type.Priority).values()}" th:value="${type}" th:text="${type}"></option>
											</select>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label" title="Types of Eshtablishment That is suitable for this type of cleaning">Tags</label>
										<div class="col-sm-5">
											<input class="populate placeholder select-tags" type="text" name="tags" value=""  placeholder="Tags for suitable types that are suitable for this service"/>
										</div>
									</div>
								</fieldset>

								<div class="form-group">
									<div class="col-sm-9 col-sm-offset-3">
										<button type="submit" class="btn btn-primary btn-raised">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="modalTarget edit-service-modal">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="box-content">
							<form id="" method="post" action="#" class="form-horizontal edit-form">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Surface Type</label>
										<div class="col-sm-5">
											<input type="text" readonly="readonly" class="form-control select-sur" name="surface" value="" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Task</label>
										<div class="col-sm-5">
											<input type="text" readonly="readonly" class="form-control select-task" name="task" value="" />
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label" title="Fixed Cost">Fixed Cost</label>
										<div class="col-sm-5">
											<input type="number" value="50" min="0" step="0.5" data-number-to-fixed="4" data-number-stepfactor="100" class="form-control fixed"
												name="fixed" />
										</div>
									</div>
								
									<div class="form-group" title="Variable Cost [Per Square m]">
										<label class="col-sm-3 control-label">Variable Cost Per sq m.</label>
										<div class="col-sm-5">
											<input type="number" value="0.5" min="0" step="0.001" data-number-to-fixed="4" data-number-stepfactor="100" class="form-control var"
												name="var" />
										</div>
									</div>
									
								</fieldset>
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Priority</label>

										<div class="col-sm-5">
											<select  class="populate placeholder select-priority" name="priority">
												<option th:each="type : ${T(com.worksap.stm.sb.type.Priority).values()}" th:value="${type}" th:text="${type}"></option>
											</select>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label" title="Types of Eshtablishment That is suitable for this type of cleaning">Tags</label>
										<div class="col-sm-5">
											<textarea class="populate placeholder select-tags" type="text" name="tags" value=""></textarea>
										</div>
									</div>
								</fieldset>

								<input type="text" class="service-id" name="id" hidden="hidden" readonly="readonly" />


								<div class="form-group">
									<div class="col-sm-9 col-sm-offset-3">
										<button type="submit" class="btn btn-primary btn-raised">Submit</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-scribd"></i> <span>Current Services</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="table-responsive">
								<table class="table table-bordered  table-hover  table-datatable ">

									<thead>
										<tr>
											<th class="order noshow">ID</th>
											<th class="">Surface Type</th>
											<th class="">Task</th>
											<th class="noshow">Fixed</th>
											<th class="noshow">Variable</th>
											<th class="noshow">Priority</th>
											<th class="noshow">Tags</th>
											<th class="nosort nosearch">Actions</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start: list_row -->

										<tr th:each="service : ${data}">

											<td class="nosort" th:text="${service.id}">Onions</td>
											<td th:text="${service.surface}">Onions</td>
											<td th:text="${service.task}">Onions</td>
											<td th:text="${service.fixed}">Onions</td>
											<td th:text="${service.var}">Onions</td>
											<td th:text="${service.priority}">Onions</td>
											<td th:text="${service.tags}">Onions</td>
											<td>
												<button class="btn btn-raised btn-xs quick-details" title="See Details">
													<i class="fa fa-eye fa-lg"></i>
												</button>
												<button class="btn btn-raised btn-xs  edit-btn" title="Edit Service">
													<i class="fa fa-pencil fa-lg"></i>
												</button>
												<button class="btn btn-raised btn-xs delete-btn" title="Delete service">
													<i class="fa fa-ban fa-lg"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>


				<div class="col-xs-12 col-sm-4">
					<div th:replace="fragments/sales/product-stats:: main"></div>
				</div>
			</div>


		</div>
	</div>

	<div layout:fragment="script">

		<script th:inline="javascript">
			/*<![CDATA[*/


            var getRevenueByProductUrl = [[@{/getRevenueByProduct}]];
			           
            var xhr;
			var select_sur, $select_sur;
			var select_task, $select_task;
			var select_priority
			
			
			
			
			


			function initSelectizeCats()
			{

			
		
				$select_task = $('.bootbox-body .select-task').selectize({
					create : true,
					maxItems: 1,
					labelField: "item",
				    valueField: "item",
				    
				});
				
				
				$select_sur = $('.bootbox-body .select-sur').selectize({
				    onChange: function(value) {
				    	
				    	
				    	select_task.disable();
				    	
				        if (!value.length)
				        {
				        
				        	return;
				        }
				       				        
				        select_task.clearOptions();
				        select_task.load(function(callback) {
				            xhr && xhr.abort();
				            xhr = $.ajax({
				                url: [[@{/getTasks/}]] + value,
				                success: function(res) {
				                	select_task.enable();
				                	
				                	var items = res.map(function(x) { return { item: x }; });
				                    callback(items);
				                },
				                error: function() {
				                    callback();
				                }
				            })
				        });
				    },
				    create : true,
				    maxItems: 1,
				    labelField: "item",
			        valueField: "item",
				    load :function(query, callback)
					{
						if (!query.length)
							return callback();
						$.ajax(
						{
							url : [[@{/getSurfaceTypes}]],
							type : 'GET',
							dataType : 'json',
							
							error : function()
							{
								callback();
							},
							success : function(res)
							{
								var items = res.map(function(x) { return { item: x }; });
								callback(items);
							}
						});
					}
				});
			
				select_task  = $select_task[0].selectize;
				select_sur = $select_sur[0].selectize;

				select_task.disable();
			}
			
			
			function initSelectizeTags()
			{
				select_priority = $('.bootbox-body .select-priority').selectize(
						{
							plugins : [ 'remove_button' ],
							delimiter : ',',
							preload : true,
							openOnFocus : true
						})[0].selectize;
				
				
				var selectTags = $('.bootbox-body .select-tags').selectize(
				{
					plugins : [ 'remove_button' ],
					delimiter : ',',
					persist : false,
					preload : true,
					openOnFocus : true,	
					valueField : 'value',
					labelField : 'label',
					searchField : 'label',
					options : [],
					create : true,
					load : function(query, callback)
					{
						if (!query.length)
							return callback();
						$.ajax(
						{
							url : [[@{resources/json/mapsearchtypes.json}]],
							type : 'GET',
							dataType : 'json',
							error : function()
							{
								callback();
							},
							success : function(res)
							{
								callback(res);
							}
						});
					}
				})[0].selectize;
			}

			/*]]>*/
		</script>




		<script th:inline="javascript">
			/*<![CDATA[*/

			$(function()
			{

				var productTable = $('.table-datatable').DataTable(
				{
					"jQueryUI" : false,
					"autoWidth": false,
					"lengthChange" : true,
					"lengthMenu" : [ 10, 15, 25, 50, 75, 100 ],
					"order" : [ [ 1, 'asc' ],[ 2, 'asc' ], ],
					"columnDefs" : [
					{
						"targets" : 'nosort',
						"orderable" : false
					},
					{
						"targets" : 'nosearch',
						"searchable" : false
					},
					{
						"targets" : 'noshow',
						"visible" : false
					},

					{
						"targets" : 'cannull',
						"defaultContent" : "<i>Not set</i>"
					} ],

					"initComplete" : function(settings, json)
					{

					},
					"rowCallback" : function(row, data, index)
					{

					},
					"dom" : 'Bfrtp',
					"buttons" : 
						[{
							text : 'Create New Service',
							className: "btn-dt",
							action : function()
							{							
								var createModal = $('.create-service-modal');
								
								bootbox.dialog({
									size: 'large',
									
									onEscape: true,
									title: "Add New Service",
									message: createModal.html()
								});
								
								initSelectizeCats();
								initSelectizeTags();		
							}
						} ],

					"renderer" : "bootstrap",

					"scrollX" : false,

				});

				/* Formatting function for row details - modify as you need */
				function format(d)
				{

					console.log(d);
					
					var tags = d[6].replace(/,/g,',&#8203;');

					var strVar = "";
					strVar += "<div class=\"card\">";
					strVar += "		<h4 class=\"page-header\" >Quick Details<\/h4>";
					strVar += "							<table class=\"table\">";
					strVar += "								<tbody>";
					strVar += "									<tr>";
					strVar += "										<td><label>Fixed Cost<\/label><\/td>";
					strVar += "										<td><label>" + d[3] + "<\/label><\/td>";
					strVar += "									<\/tr>								";
					strVar += "									<tr>";
					strVar += "										<td><label>Variable Cleaning Cost<\/label><\/td>";
					strVar += "										<td><label>" + d[4] + "<\/label><\/td>";
					strVar += "									<\/tr>								";
					strVar += "										<td><label>Priority<\/label><\/td>";
					strVar += "										<td ><label class=\"wrappable\" >" + d[5] + "<\/label><\/td>";
					strVar += "									<\/tr>							";
					strVar += "									<tr>";
					strVar += "										<td><label>Tags<\/label><\/td>";
					strVar += "										<td ><label class=\"wrappable\" >" + tags + "<\/label><\/td>";
					strVar += "									<\/tr>							";
					strVar += "								<\/tbody>";
					strVar += "							<\/table>";
					strVar += "	<\/div>";

					return strVar;

				}

				productTable.on('click', '.quick-details', function()
				{
					var tr = $(this).closest('tr');
					var row = productTable.row(tr);

					var icon = $(this).children('i');

					if (row.child.isShown())
					{

						icon.removeClass('fa-eye-slash').addClass('fa-eye');

						// This row is already open - close it
						row.child.hide();
						tr.removeClass('shown');
					} else
					{

						icon.removeClass('fa-eye').addClass('fa-eye-slash');

						// Open this row
						row.child(format(row.data())).show();
						tr.addClass('shown');
					}
				});
				
				
				productTable.on('click', '.delete-btn', function()
				{
					var tr = $(this).closest('tr');
					var row = productTable.row(tr);

					var rowData = row.data();

					console.log(rowData);

					var url = [[@{/deleteService}]];

					var dataObj =
					{
						"id" : rowData[0]
					};

					ajaxJsonPost(url, dataObj, function(data)
					{
						showStatus(data.success, data.msg);

						if (data.success == true)
						{
							row.remove().draw();

						}

					}, function()
					{

						showStatus(false, "Failed to Delete");

					});
				});
				
				
				
				productTable.on('click', '.edit-btn', function()
				{
					var tr = $(this).closest('tr');
					
					var row = productTable.row(tr);

					var rowData = row.data();

					var serviceValues = row.data();
					
					
					console.log(serviceValues);
// 					console.log(rowData);

					var editTaskModal = $('.edit-service-modal');

					bootbox.dialog(
					{
						title : "Edit Service " + serviceValues[0],
						message : editTaskModal.html(),
						onEscape: true,
						size: 'large'
					});
					
					

					$('.bootbox-body .service-id').val(serviceValues[0]);
					$('.bootbox-body .select-sur').val(serviceValues[1]);
					$('.bootbox-body .select-task').val(serviceValues[2]);
					$('.bootbox-body .fixed').val(serviceValues[3]);
					$('.bootbox-body .var').val(serviceValues[4]);

					
					
					$('.bootbox-body .select-priority').val(serviceValues[5]);
					$('.bootbox-body .select-tags').val(serviceValues[6]);

					initSelectizeTags();

					$('.bootbox-body .edit-form').submit(function(e)
					{
						var url = [[@{/editService}]] + '/' + serviceValues[0];

						var values = {};

						$.each($(this).serializeArray(), function(i, field)
						{
							values[field.name] = field.value;
						});

						console.log(values);
						console.log(url);

						ajaxJsonPost(url, values, function(data)
						{
							
							
							if (data.success)
							{
								
							}
							
							var strVar="";
							strVar += "<button class=\"btn btn-raised btn-xs quick-details\" title=\"See Details\">";
							strVar += "												<i class=\"fa fa-eye fa-lg\"><\/i>";
							strVar += "											<\/button>";
							strVar += "											<button class=\"btn btn-raised btn-xs edit-btn\" title=\"Edit Service\">";
							strVar += "												<i class=\"fa fa-pencil fa-lg\"><\/i>";
							strVar += "											<\/button>";
							strVar += "											<button class=\"btn btn-raised btn-xs delete-btn\" title=\"delete service\">";
							strVar += "												<i class=\"fa fa-ban fa-lg\"><\/i>";
							strVar += "											<\/button>";

							var tableRow =[];
							
							tableRow.push(data.data.id);
							tableRow.push(data.data.surface);
							tableRow.push(data.data.task);
							tableRow.push(data.data.fixed);
							tableRow.push(data.data.var);
							tableRow.push(data.data.priority);
							tableRow.push(data.data.tags);
							tableRow.push(strVar);


// 							console.log(tableRow);
// 							console.log(data);
							
							row.remove().draw();
							productTable.row.add(tableRow).draw();
							
							showStatus(data.success, data.msg);
							
						}, function()
						{
							
						});

						bootbox.hideAll();
						e.preventDefault();
					});

				});
			});




			/*]]>*/
		</script>



        <script th:src="@{/resources/devoops/plugins/morris/morris.min.js}"></script>
        <script th:src="@{/resources/devoops/plugins/raphael/raphael-min.js}"></script>


        <script th:src="@{/resources/app/js/product-stats.js}"></script>


	</div>
</body>
</html>