<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">

<head>
<title>Tutorials Management</title>
</head>

<style>
</style>
<body>
	<div layout:fragment="content">
		<div style="padding-top: 0px" class="" th:fragment="ajax-container">


			<div class="modalTarget create-tut-modal">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="box-content">
							<form id="create-form" method="post" th:action="@{'/createNote'}" action="#" class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Heading</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" name="heading" value="" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label ">Type</label>
										<div class="col-sm-8">
											<select name="type" class="form-control select-type">
												<option th:each="type : ${T(com.worksap.stm.sb.type.NoteType).values()}" th:value="${type}" th:text="${type}"></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Text</label>
										<div class="col-sm-8">
											<textarea type="text" rows="30" class="form-control text" id="ckeditor" name="text" value=""></textarea>
										</div>
									</div>
								</fieldset>


								<input hidden="hidden" name="creator" th:value="${session.username}" />
								<input hidden="hidden" name="clientid" value="0" />
								<div class="form-group">
									<div class="col-sm-9 col-sm-offset-3">
										<button type="submit" class="btn btn-primary btn-raised">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-book"></i> <span>Tutorials</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="table-responsive">
								<table class="table table-bordered  table-hover   notes-table" id="">
									<thead>
										<tr>

											<th class="order noshow">ID</th>
											<th class="order">Heading</th>
											<th class="order">Type</th>

											<th class="noshow">Text</th>
											<th class="noshow">Created</th>
											<th class="nosort nosearch">Actions</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start: list_row -->

										<tr th:each="note : ${data}">

											<td class="nosort" th:text="${note.id}">Onions</td>
											<td th:text="${note.heading}">Onions</td>
											<td th:text="${note.type}">Onions</td>

											<td th:utext="${note.text}">Onions</td>
											<td th:text="${#joda.mediumDateTime(note.created)}">Onions</td>
											<td>
												<button class="quick-details btn btn-raised btn-xs" title="quick details">
													<i class="fa fa-eye fa-lg"></i>
												</button>
												<button class="delete-note btn btn-raised btn-xs" title="delete note">
													<i class="fa fa-ban fa-lg"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			var notesTable;



			$(document).ready(function()
			{


				notesTable = $('.notes-table').DataTable(
				{
					"jQueryUI" : false,
					"autoWidth": false,
					"lengthChange" : true,
					"lengthMenu" : [ 10, 15, 25, 50, 75, 100 ],
					"order" : [ [ 0, 'desc' ] ],
					"columnDefs" : [
					{
						"targets" : 'nosort',
						"orderable" : false
					},
					{
						"targets" : 'nosearch',
						"searchable" : false
					},
					{
						"targets" : 'noshow',
						"visible" : false
					},

					{
						"targets" : 'cannull',
						"defaultContent" : "<i>Not set</i>"
					} ],

					"initComplete" : function(settings, json)
					{

					},
					"rowCallback" : function(row, data, index)
					{

					},
					"dom" : 'Bifrtlp',
					"buttons" : [
						{
							text : '<i class="fa fa-plus fa-lg"></i> Add Tutorial',
							className : "btn-dt",
							action : function()
							{
//								var createModal = $('.create-tut-modal');
//
//								bootbox.dialog(
//								{
//									onEscape : true,
//									title : "Add New Tutorial",
//									message : createModal.html(),
//									size:"large",
//								});
//
//								var selectizeCleintElem = $('.bootbox-body .select-type').selectize(
//								{})[0].selectize;
//
//
//								var editor = $('.bootbox-body .text');
//
//								CkEditorStart(editor[0].id,null);


								$(location).attr('href',[[@{'/createTutorial'}]]);



							}
						} ],

					"renderer" : "bootstrap",

					"scrollX" : false,

				});

				/* Formatting function for row details - modify as you need */
				function format(d)
				{

					console.log(d);

					var strVar = "";
					strVar += "<div class=\"card\">";
					strVar += "		<h4 class=\"page-header\" >Quick Details<\/h4>";
					strVar += "							<table class=\"table table-bordered\">";
					strVar += "								<tbody>";
					strVar += "									<tr>";
					strVar += "										<td><label>Heading<\/label><\/td>";
					strVar += "										<td><label>" + d[1] + "<\/label><\/td>";
					strVar += "									<\/tr>								";
					strVar += "									<tr>";
					strVar += "										<td><label>Text<\/label><\/td>";
					strVar += "										<td>" + d[3] + "<\/td>";
					strVar += "									<\/tr>								";
					strVar += "									<tr>";
					strVar += "										<td><label>Created<\/label><\/td>";
					strVar += "										<td><label>" + d[4] + "<\/label><\/td>";
					strVar += "									<\/tr>								";

					strVar += "								<\/tbody>";
					strVar += "							<\/table>";
					strVar += "	<\/div>";


					return strVar;

				}

				notesTable.on('click', '.quick-details', function()
				{
					var tr = $(this).closest('tr');
					var row = notesTable.row(tr);

					var icon = $(this).children('i');

					if (row.child.isShown())
					{

						icon.removeClass('fa-eye-slash').addClass('fa-eye');

						// This row is already open - close it
						row.child.hide();
						tr.removeClass('shown');
					} else
					{

						icon.removeClass('fa-eye').addClass('fa-eye-slash');

						// Open this row
						row.child(format(row.data())).show();
						tr.addClass('shown');
					}
				});
				notesTable.on('click', '.delete-note', function()
				{
					var tr = $(this).closest('tr');
					var row = notesTable.row(tr);
					
					var rowData = row.data();

					console.log(rowData);

					var url = "./deleteNote";

					var dataObj =
					{
						"id" : rowData[0]
					};


					ajaxJsonPost(url, dataObj, function(data)
					{

						showStatus(data.success, data.msg);

						if (data.success == true)
						{
							row.remove().draw();

						}

					}, function()
					{

						showStatus(false, "Failed to assign");

					});

				});

			});



			/*]]>*/
		</script>
	</div>
</body>
</html>