<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">

<head>
<title>Tutorials Management</title>
</head>

<style>
</style>
<body>
	<div layout:fragment="content">
		<div style="padding-top: 0px" class="" th:fragment="ajax-container">


			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-book"></i> <span>Tutorials</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="table-responsive">
								<table class="table table-bordered  table-hover notes-table" id="">
									<thead>
										<tr>

											<th class="order noshow">ID</th>
											<th class="order">Heading</th>
											<th class="order">Type</th>
											<th class="noshow">Text</th>
											<th class="noshow">Created</th>
											<th class="nosort nosearch">Actions</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start: list_row -->

										<tr th:each="note : ${data}">

											<td class="nosort" th:text="${note.id}">Onions</td>
											<td th:text="${note.heading}">Onions</td>
											<td th:text="${note.type}">Onions</td>
											<td th:utext="${note.text}">Onions</td>
											<td th:text="${#joda.longDateTime(note.created)}">Onions</td>
											<td>
												<button class="quick-details btn btn-raised btn-xs" title="quick details">
													<i class="fa fa-eye fa-lg"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			var notesTable;






			$(document).ready(function()
			{
				notesTable = $('.notes-table').DataTable(
				{
					"jQueryUI" : false,
					"autoWidth": false,
					"lengthChange" : true,
					"lengthMenu" : [ 10, 15, 25, 50, 75, 100 ],
					"order" : [ [ 0, 'desc' ] ],
					"columnDefs" : [
					{
						"targets" : 'nosort',
						"orderable" : false
					},
					{
						"targets" : 'nosearch',
						"searchable" : false
					},
					{
						"targets" : 'noshow',
						"visible" : false
					},

					{
						"targets" : 'cannull',
						"defaultContent" : "<i>Not set</i>"
					} ],

					"initComplete" : function(settings, json)
					{

					},
					"rowCallback" : function(row, data, index)
					{

					},
					"dom" : 'ifrtlp',

					"renderer" : "bootstrap",

					"scrollX" : false,

				});

				/* Formatting function for row details - modify as you need */
				function format(d)
				{

					console.log(d);

					var strVar = "";
					strVar += "<div class=\"card\">";
					strVar += "		<h4 class=\"page-header\" >Quick Details<\/h4>";
					strVar += "							<table class=\"table table-bordered\">";
					strVar += "								<tbody>";
					strVar += "									<tr>";
					strVar += "										<td><label>Heading<\/label><\/td>";
					strVar += "										<td><label>" + d[1] + "<\/label><\/td>";
					strVar += "									<\/tr>								";
					strVar += "									<tr>";
					strVar += "										<td><label>Text<\/label><\/td>";
					strVar += "										<td>" + d[3] + "<\/td>";
					strVar += "									<\/tr>								";
					strVar += "									<tr>";
					strVar += "										<td><label>Created<\/label><\/td>";
					strVar += "										<td><label>" + d[4] + "<\/label><\/td>";
					strVar += "									<\/tr>								";

					strVar += "								<\/tbody>";
					strVar += "							<\/table>";
					strVar += "	<\/div>";

					return strVar;

				}

				notesTable.on('click', '.quick-details', function()
				{
					var tr = $(this).closest('tr');
					var row = notesTable.row(tr);

					var icon = $(this).children('i');

					if (row.child.isShown())
					{

						icon.removeClass('fa-eye-slash').addClass('fa-eye');

						// This row is already open - close it
						row.child.hide();
						tr.removeClass('shown');
					} else
					{

						icon.removeClass('fa-eye').addClass('fa-eye-slash');

						// Open this row
						row.child(format(row.data())).show();
						tr.addClass('shown');
					}
				});


			});



			/*]]>*/
		</script>
	</div>
</body>
</html>