<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>User Management</title>
</head>

<style>
</style>
<body>
	<div layout:fragment="content">

		<div style="padding-top: 0px" class="" th:fragment="ajax-container">


			<div class="modalTarget add-user-modal">
				<form id="add-form" method="post" th:action="@{'/createUser'}" action="#" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-sm-3 control-label ">Name</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="name" value="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label ">Username</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="username" value="" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label ">Role</label>
							<div class="col-sm-5">
								<select name="roles" class="form-control">
									<option th:each="type : ${T(com.worksap.stm.sb.type.RoleType).values()}" th:value="${type}" th:text="${type}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Password</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" name="password" value="" />
							</div>
						</div>
					</fieldset>



					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary btn-raised">Submit</button>
						</div>
					</div>
				</form>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-users"></i> <span>Users of Sales Booster</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-hover  table-datatable" id="">
									<thead>
										<tr>
											<th>Name</th>
											<th>Username</th>
											<th>Email</th>
											<th>Roles</th>
										</tr>
									</thead>
									<tbody>
										<!-- Start: list_row -->

										<tr th:each="user: ${users}">
											<td th:text="${user.name}"><img class="img-rounded" src="resources/devoops/img/user.png" alt="" /></td>
											<td th:text="${user.username}"></td>
											<td th:text="${user.email}"></td>
											<td th:text="${user.roles}"></td>
										</tr>


										<!-- End: list_row -->
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			var table;

			$(document).ready(function()
			{
				table = $('.table-datatable').DataTable(
				{
					"jQueryUI" : false,
					"autoWidth": false,
					"lengthChange" : true,
					"lengthMenu" : [ 10, 15, 25, 50, 75, 100 ],
					"order" : [ [ 0, 'desc' ] ],
					"columnDefs" : [
					{
						"targets" : 'nosort',
						"orderable" : false
					},
					{
						"targets" : 'nosearch',
						"searchable" : false
					},
					{
						"targets" : 'noshow',
						"visible" : false
					},

					{
						"targets" : 'cannull',
						"defaultContent" : "<i>Not set</i>"
					} ],

					"initComplete" : function(settings, json)
					{

					},
					"rowCallback" : function(row, data, index)
					{

					},
					"dom" : 'Brtp',

					"buttons" : [
					{
						text : 'Add New',
						action : function()
						{
							
							var modal = $('.add-user-modal');
							
							bootbox.dialog(
							{

								title : "<i class=\"fa fa-user \"></i> Add New User",
								message : modal.html()
							});

						}
					} ],

					"renderer" : "bootstrap",
					"responsive" :
					{
						"details" :
						{
							display : $.fn.dataTable.Responsive.display.modal(
							{
								header : function(row)
								{
									var data = row.data();
									return 'Details for ' + data[0] + ' ' + data[1];
								}
							}),
							renderer : function(api, rowIdx, columns)
							{
								var data = $.map(columns, function(col, i)
								{
									return '<tr>' + '<td>' + col.title + ':' + '</td> ' + '<td>' + col.data + '</td>' + '</tr>';
								}).join('');

								return $('<table class="table"/>').append(data);
							}
						}
					},

					"scrollX" : false
				});

			});

			// Run Datables plugin and create 3 variants of settings
			$(document).ready(function()
			{

				// Add Drag-n-Drop feature
				WinMove();
			});
			/*]]>*/
		</script>

	</div>
</body>
</html>