<header th:fragment="main">

	<div class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-pencil-o"></i> <span>Edit Client Details forms</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">
			<form id="editform" method="post" th:action="@{'/editClient/'+${data.id}}" action="#" th:object="${data}" class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label class="col-sm-3 control-label ">Company Name</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{name}" />
						</div>

						<a th:href="@{https://www.google.com/search(q=${data.name})}" target="_blank" th:title="${'Search in google for '+data.name}"><i
							class="fa fa-google fa-lg"></i></a>

					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Priority</label> <label th:text="${data.priority != null ? data.priority:'Not Set'}"
							th:class="${data.priority.toString().equals('LOW') ? 'label label-danger':'label label-info'}">Not Set</label>

						<div class="col-sm-5">
							<select id="select_priority" class="populate placeholder" name="priority">
								<option th:each="type : ${T(com.worksap.stm.sb.type.Priority).values()}" th:value="${type}" th:text="${type}"
									th:selected="${type == data.priority}"></option>
							</select>
						</div>
					</div>

					<!--<div class="form-group">-->
						<!--<label class="col-sm-3 control-label">Status</label> <label th:text="${data.status != null ? data.status:'Not Set'}"-->
							<!--th:class="${data.status.toString().equals('SUSPECT') ? 'label label-danger':'label label-info'}">Not Set</label>-->
						<!--<div class="col-sm-5">-->
							<!--<select id="select_status" class="populate placeholder" name="status">-->
								<!--<option th:each="type : ${T(com.worksap.stm.sb.type.ClientStatusType).values()}" th:value="${type}" th:text="${type}"-->
									<!--th:selected="${type == data.status}"></option>-->
							<!--</select>-->
						<!--</div>-->
					<!--</div>-->

				</fieldset>
				<fieldset>
					<legend>Contact Informations</legend>
					<div class="form-group">
						<label class="col-sm-3 control-label">Contact Name</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{contactname}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Title</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{contacttitle}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Contact No</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{contactno}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{email}" />
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Address</legend>
					<div class="form-group">
						<label class="col-sm-3 control-label">Address</label>
						<div class="col-sm-5">
							<textarea class="form-control" rows="5" th:field="*{address}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Phone</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{phone}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Website</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" th:field="*{website}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Latitude:Longitude</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="lat" readonly="readonly" th:field="*{geolocation.lat}" />
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="lng" readonly="readonly" th:field="*{geolocation.lng}" />
						</div>
					</div>

				</fieldset>
				<fieldset>
					<legend>Other</legend>
					<div class="form-group">
						<label class="col-sm-3 control-label">Industry</label>
						<div class="col-sm-5">
							<input class="populate placeholder" id="select_industry" th:field="*{industry}"></input>

						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Annual Revenue</label>
						<div class="col-sm-3">
							<input type="number" min="10000" max="2500000000" step="10000" value="100000" class="form-control" id="annual_rev" th:field="*{annualrevenue}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Employee Number</label>
						<div class="col-sm-3">
							<input type="number" min="10" max="5000" step="10" value="100" class="form-control" th:field="*{employeesize}" id="employeeno" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Decision Time</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" th:field="*{decisiontime}" />
						</div>
					</div>
				</fieldset>
				<input hidden="hidden" th:field="*{id}" /> <input hidden="hidden" th:field="*{placeid}" />
				<div class="form-group">
					<div class="col-sm-9 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-raised">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>