<header th:fragment="map">
	<div class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-pencil-o"></i> <span>Select Geolocation</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">

			<input id="pac-input" class="controls" type="text"
				placeholder="Search Box" />
			<div id="map"></div>
		</div>
	</div>
</header>

<!--<header th:fragment="assign-delegates">-->
	<!--<div th:if="${session.roles.contains('BM')}" class="box">-->
		<!--<div class="box-header">-->
			<!--<div class="box-name">-->
				<!--<i class="fa fa-user"></i> <span>Assigned Delegates</span>-->
			<!--</div>-->
			<!--<div class="box-icons">-->
				<!--<a class="collapse-link"> <i class="fa fa-chevron-up"></i>-->
				<!--</a> <a class="expand-link"> <i class="fa fa-expand"></i>-->
				<!--</a> <a class="close-link"> <i class="fa fa-times"></i>-->
				<!--</a>-->
			<!--</div>-->
			<!--<div class="no-move"></div>-->
		<!--</div>-->
		<!--<div class="box-content">-->
			<!--<form class="form-horizontal delegate-form">-->

                <!--<fieldset>-->
                <!--<div class="form-group" th:action="@{/assignDelegates/__${data.id}__}">-->
                    <!--<label class="col-sm-3 control-label">Delegates</label>-->
                    <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control select-delegates" name="delegateStr"-->
                               <!--th:value="${data.delegateStr}" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--</fieldset>-->

                <!--<div class="form-group">-->
                    <!--<div class="col-sm-9 col-sm-offset-3">-->
                        <!--<button type="submit" class="btn btn-primary btn-raised">Save Delegates</button>-->
                    <!--</div>-->
                <!--</div>-->

			<!--</form>-->
		<!--</div>-->
	<!--</div>-->
<!--</header>-->


<header th:fragment="assign-delegates">
	<div th:if="${session.roles.contains('BM')}" class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-user"></i> <span>Assigned Delegates</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">
			<table
				class="table table-bordered  table-hover  table-datatable del-table"
				id="">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th class="">Username</th>
					</tr>
				</thead>
				<tbody>
					<!-- Start: list_row -->

                    <tr th:each="user : ${sa}" th:if="${data.srepresentative != user.username}">
                        <td></td>
                        <td th:text="${user.name}">Onions</td>
                        <td th:text="${user.username}">Onions</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</header>


<header th:fragment="assign-salesrep">
	<div th:if="${session.roles.contains('BM')}" class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-user"></i> <span>Assigned Associate</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">
			<table
				class="table table-bordered  table-hover  table-datatable sa-table">
				<thead>
					<tr>
						<!--<th></th>-->
						<th>Name</th>
						<th class="">Username</th>
					</tr>
				</thead>
				<tbody>
					<!-- Start: list_row -->

					<tr th:each="user : ${sa}">
						<!--<td></td>-->
						<td th:text="${user.name}">Onions</td>
						<td th:text="${user.username}">Onions</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</header>