<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Sales Booster</title>

<ct th:replace="fragments/header :: commonhead"></ct>

</head>

<body>
	<div id="modalbox">
		<div class="devoops-modal">
			<div class="devoops-modal-header">
				<div class="modal-header-name">
					<span>Basic table</span>
				</div>
				<div class="box-icons">
					<a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="devoops-modal-inner"></div>
			<div class="devoops-modal-bottom"></div>
		</div>
	</div>

	<!-- Common header -->
	<div th:replace="fragments/header :: navbar"></div>

	<!--Start Container-->
	<div id="main" class="container-fluid">
		<div class="row">
			<div th:replace="fragments/header :: sidebar"></div>


			<!--Start Content -->
			<div id="content" class="col-xs-12 col-sm-10">
				<div class="row">
					<div id="breadcrumb" class="col-xs-12">
						<ol class="breadcrumb">

						</ol>
					</div>
				</div>

				<div th:if="${backurl != null}" class="row">
					<div class="col-xs-12 col-sm-12">
						<nav>
							<ul class="pagination ">
								<li title="Back Previous Page"><a th:href="@{${backurl}}"><i class="fa fa-chevron-left"> Back</i> </a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="row" id="response-div-parent">
					<div id="response-div" th:if="${ response !=null and  msg!=null}"
						th:class="'col-md-12 col-xs-12 alert ' +${success == true ? 'alert-success ' : ' alert-danger'}+ ' alert-dismissible toppad'" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong id="response-msg" th:text="${msg}"></strong>
					</div>
				</div>


				<div layout:fragment="content" id="ajax-content"></div>


			</div>
			<!--End Content -->
		</div>
	</div>
	<!--End Container-->



	<!-- Common footer -->
	<div th:replace="fragments/footer :: footer"></div>

	<div layout:fragment="script"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		       var startNewPoll = true;
		
		
				function singleNotificationShow()
				{
					//get unshowen notifications notification
	 		         ajaxSyncJsonGET([[@{/getSingleUnshowedNotifications}]], {}, function(data)
	        		 {
	 	   		        	
	             	   if(data.success)
         		   		{	
	             		   
	             		    startNewPoll = false;
	             		    
      		   				var noti = data.data;

      		   				var notiUrl = '';
      		   				if(isset(noti.link) && !empty(noti.link))
	      		   				var notiUrl =[[@{/visitNotificationLink/}]] + noti.id; 
      		   			
      		   				
      		   				notifyWithLink(noti.title, noti.msg, 'info', 1500, notiUrl,function()
	   						{
	   					
     		   					//Set notification as shown
      		 		            ajaxJsonGET([[@{/setNotificationShown/}]]+noti.id, {}, function(data)
	 		            		{

//      		 		            	singleNotificationShow();

      		 		            }, function(){
      		 		            	
      		 		            	startNewPoll = true;
      		 		            	
      		 		            });
 		   						
 		   					
	   						});
      		   				
         		   		}	
	            	   
	             	   
	             	  	startNewPoll = true;
	             	  	
          				}, function(){
          					
          					
          					startNewPoll = true;
          				});
		           
				}
		           
	           function pollingStuff()
				{
			
	        	   
//	        	   if(startNewPoll)
//	       		   {
	        		   singleNotificationShow();
//	       		   }
	        	   
	        	

					if(isset($(".suspect-badge")))
					{
						//# of unassignedsuspect
						ajaxJsonGET([[@{/countMySuspects}]], {}, function(data){

						if(data.success)
						{
							$(".suspect-badge").html(data.data);
						}

					}, function(){});
					}



					if(isset($(".prospect-badge")))
					{

						//# of unassignedprospect
						ajaxJsonGET([[@{/countUnassignedClients}]], {}, function(data){

						if(data.success)
						{
							$(".prospect-badge").html(data.data);
						}

					}, function(){});
					}


					//# of unseen notification
	 		         ajaxJsonGET([[@{/countUnseenNotifications}]], {}, function(data){

	             	   if(data.success)
            		   {
             		   		$(".notification-badge").html(data.data);
            		   }

               		}, function(){});
	    		     
	 		         
	 		       //getting number of tasks  
	               ajaxJsonGET([[@{/noOfTaskToday}]], {}, function(data){
	            	   		        	
	            	   if(data.success)
	           		   {	        		  
	            		   $(".task-badge").html(data.data);		        	 
	           		   }
	            	   
	               }, function(){});
				}
		           

           pollingStuff();
               
                setInterval(function()
    		   {
        	   
        			pollingStuff()

				},2000);
           
           
        // Add Drag-n-Drop feature
			WinMove();
         	           
		           
		/*]]>*/
	</script>


</body>

</html>
