<header th:fragment="main" xmlns:th="http://www.w3.org/1999/xhtml">

	<div>
		<!-- Nav tabs -->
		<ul class="nav  nav-pills" role="tablist">
			<li role="presentation" class="active"><a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a></li>

			<li role="presentation" class=""><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>

			<li role="presentation"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">Timeline</a></li>
			<li role="presentation"><a href="#sentmail" aria-controls="sentmail" role="tab" data-toggle="tab">Sent Mails</a></li>

			<li role="presentation" class=""><a href="#requirments" aria-controls="tasks" role="tab" data-toggle="tab">Requirements</a></li>

			<li role="presentation"><a href="#proposals" aria-controls="timeline" role="tab" data-toggle="tab">Proposals</a></li>

		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tasks">
				<div th:replace="fragments/client-details/tasks :: body"></div>
			</div>

			<div role="tabpanel" class="tab-pane " id="notes">
				<div th:replace="fragments/client-details/notes :: body"></div>
			</div>
			
			<div role="tabpanel" class="tab-pane " id="timeline">
				<div th:replace="fragments/client-details/timeline :: body"></div>
			</div>
			<div role="tabpanel" class="tab-pane " id="sentmail">
				<div th:replace="fragments/client-details/sentmail :: body"></div>
			</div>


			<div role="tabpanel" class="tab-pane" id="requirments">
				<div th:replace="fragments/client-details/requirements :: body"></div>
			</div>

			<div role="tabpanel" class="tab-pane " id="proposals">
				<div th:replace="fragments/client-details/proposals :: body"></div>
			</div>

		</div>
	</div>

</header>