<header th:fragment="main">
	<div class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-info"></i> <span>Client Details </span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">
			<div class="card">
				<div class="form-group label-floating">
					<div class="input-group">
						<label class="control-label"></label>
						<h4 class="page-header" th:text="${data.name}">ABCDEF company</h4>
						<span class="input-group-btn">
								<a class="btn btn-raised btn-xs" title="Edit client" th:href="@{'./editClient/'+${data.id}}"> <i class="fa fa-pencil fa-lg"></i></a>
						</span> <span th:if="${data.email != null}" class="input-group-btn">
								<a class="btn btn-raised btn-xs" title="Send Email" th:href="@{'./mailClient/'+${data.id}}"><i class="fa fa-envelope fa-lg"></i></a>

						</span>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><label> Contact Name: </label></td>
								<td><label th:text="${data.contactname != null ? data.contactname:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label> Title: </label></td>
								<td><label th:text="${data.contacttitle != null ? data.contacttitle:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label> Contact No: </label></td>
								<td><label th:text="${data.contactno != null ? data.contactno:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label> Contact Email: </label></td>
								<td><label th:text="${data.email != null ? data.email:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label> Company Website: </label></td>
								<td><a th:if="${data.website !=null}" th:href="${data.website}" target="_blank">Visit Website</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card">
				<h4 class="page-header">Additional Details</h4>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><label>Annual Revenue/Income: </label></td>
								<td><label th:text="${data.annualrevenue != null ? data.annualrevenue:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label>Number of Employees </label></td>
								<td><label th:text="${data.employeesize != null ? data.employeesize:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label> Decision Time: </label></td>
								<td><label th:text="${data.decisiontime != null ? data.decisiontime:'Not Set'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label>Priority Level: </label></td>
								<td><label th:text="${data.priority != null ? data.priority:'Not Set'}"
									th:class="${data.priority.toString().equals('LOW') ? 'label label-danger':'label label-info'}">Not Set</label></td>
							</tr>
							<tr>
								<td><label> Status: </label></td>
								<td>
									<div class="input-group">
										<label th:text="${data.status != null ? data.status:'Not Set'}"
											th:class="${data.status.toString().equals('SUSPECT') || data.status.toString().equals('REMOVED') || data.status.toString().equals('EXCLIENT') ? 'label label-danger':'label label-info'}">Not
											Set</label> <span class="input-group-btn">

											<div class="status-btn">
												<a th:if="${data.status.toString().equals('SUSPECT')}" class="btn btn-raised btn-xs btn-default chng-status-client"
													th:href="@{/updateClientStatus/__${data.id}__/PROSPECT/0}" title="Upgrade to Prospect">Set As PROSPECT</a> <a
													th:if="${data.status.toString().equals('PROSPECT')}" class="btn btn-raised btn-xs btn-default chng-status-client"
													th:href="@{/updateClientStatus/__${data.id}__/PROFILED/0}" title="Upgrade to Profiled">Set As PROFILED</a> <a
													th:if="${data.status.toString().equals('PROFILED')}" class="btn btn-raised btn-xs btn-default chng-status-client"
													th:href="@{/updateClientStatus/__${data.id}__/PROPOSED/0}" title="Upgrade to Proposed">Set As PROPOSED</a> <a
													th:if="${data.status.toString().equals('PROPOSED')}" class="btn btn-raised btn-xs btn-default chng-status-client"
													th:href="@{/updateClientStatus/__${data.id}__/ACTIVE/0}" title="Upgrade to Active">Set As ACTIVE</a> <a
													th:if="${data.status.toString().equals('ACTIVE')}" class="btn btn-raised btn-xs btn-warning chng-status-client"
													th:href="@{/updateClientStatus/__${data.id}__/EXCLIENT/0}" title="Lost This Client move to Exclient list">Set As Ex-CLIENT</a>

												<a th:if="${!data.status.toString().equals('REMOVED')}" class="btn btn-raised btn-xs btn-danger chng-status-client"
													th:href="@{/updateClientStatus/__${data.id}__/REMOVED/0}" title="Remove Client from thge System">Discard</a>


											</div>
										</span>
									</div>
								</td>
							</tr>
							<tr>
								<td><label> Industry: </label></td>
								<td><label th:text="${data.industry != null ? data.industry.replaceAll(',',', '):'Not Set'}">Not Set</label></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card address">
				<div class="vcard"></div>
				<h4 class="page-header">Address:</h4>
				<div class="table-responsive">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><label>Address</label></td>
								<td><label th:text="${data.address}">Not Set</label></td>
							</tr>
							<tr>
								<td><label>Phone:</label></td>
								<td><label th:text="${data.phone != null ? data.phone:'Not Set'}">Not Set</label></td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="map">
					<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="200" th:if="${data.geolocation != null}"
						th:src="'https://maps.google.com/maps?hl=en&amp;q='+${data.geolocation.lat}+','+${data.geolocation.lng}+'&amp;ie=UTF8&amp;t=roadmap&amp;z=12&amp;output=embed'">
						<div>
							<small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small>
						</div>
						<div>
							<small><a href="http://buyproxies.io/">shared proxies</a></small>
						</div>
					</iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-info"></i> <span>Assigned Sales Representative</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">
			<div class="card">
				<div class="form-group label-floating">
					<div class="input-group">

						<label>Sales Representative</label>
						<h4 class="page-header" th:text="${data.srepresentative != null? data.srepresentative:'Not Assigned Yet'}">ABCDEF company</h4>

					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
						<tr>
							<td><label>Delegates</label></td>
						</tr>
						</thead>
						<tbody>
						<tr th:each="delegate,iterStat:${data.delegates}">
							<td><label th:text="${delegate.username}">Not Set</label></td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
						<tr>
							<td><label>Added To The Pipeline by</label></td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><label th:text="${data.sadder}">Not Set</label></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</header>