<header th:fragment="main">



	<div class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-sticky-note"></i> <span>Related Plans</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
				</a> <a class="close-link"> <i class="fa fa-times"></i>
				</a>
			</div>
			<div class="no-move"></div>
		</div>

		<div class="box-content">
			<header th:fragment="body">


				<div class="modalTarget modal-create-note">
					<form id="createNote" method="post" th:action="@{'/createNoteFromDetailsPage'}" action="#" class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label ">Heading</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="heading" value="" placeholder="Enter a title"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label ">Type</label>
								<div class="col-sm-5">
									<select id="select_note_type" class="form-control" name="type">
										<option th:each="type : ${T(com.worksap.stm.sb.type.NoteType).values()}" th:value="${type}" th:text="${type}"></option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Plan Text</label>
								<div class="col-sm-5">
									<textarea type="text" rows="6" class="form-control" name="text" value="" placeholder="Enter Note / Plan text"></textarea>
								</div>
							</div>
						</fieldset>
						<fieldset>


							<div class="form-group">
								<label class="col-sm-3 control-label">Client</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="" th:value="${data.name}" disabled="disabled" readonly="readonly"></input> <input type="text"
																																									class="" name="clientid" th:value="${data.id}" hidden="hidden" readonly="readonly"></input>
								</div>
							</div>

						</fieldset>

						<input hidden="hidden" name="creator" th:value="${session.username}" />
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<button type="submit" class="btn btn-primary btn-raised">Submit</button>
							</div>
						</div>
					</form>
				</div>




				<div class="table-responsive">
					<table class="table table-striped  table-hover  table-datatable notes-table" id="">
						<thead>
							<tr>
								<th class="order noshow">ID</th>
								<th class="order">Heading</th>
								<th class="">Client</th>
								<th class="noshow">Text</th>
								<th class="noshow">Created</th>
								<th class="noshow">Created</th>
								<th class="">Written By</th>
								<th class="nosort nosearch">Actions</th>
							</tr>
						</thead>
						<tbody>
							<!-- Start: list_row -->

							<tr th:each="note : ${notes}">
								<td class="nosort" th:text="${note.id}">Onions</td>
								<td th:text="${note.heading}">Onions</td>
								<td th:text="${note.clientname}">Onions</td>
								<td th:text="${note.text}">Onions</td>
								<td th:text="${note.created}">Onions</td>
								<td th:text="${note.clientid}">Onions</td>
								<td th:text="${note.creator}">Onions</td>
								<td>
									<button class="btn btn-raised btn-xs quick-details" title="quick details">
										<i class="fa fa-eye fa-lg"></i>
									</button>
									<button th:if="${ note.clientid !=0 and  note.creator.equals(session.username)}" class="btn btn-raised btn-xs delete-note"
										title="delete note">
										<i class="fa fa-ban fa-lg"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</header>
		</div>
	</div>


</header>