<header th:fragment="body" >




    <div class="modalTarget add-req-date-modal">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="box-content">
                    <form id="" method="post" th:action="@{'/addRequirementInfo/'+${clientid}}"  class="form-horizontal req-date-form">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Start From</label>
                                <div class="col-sm-5">
                                    <input type="date" class="form-control req-date-start"  format="dd/MM/yyyy" name="start" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label ">Duration in Weeks</label>
                                <div class="col-sm-5">
                                    <input type="number" min="1" max="300" class="form-control req-date-weeks" name="weeks" value=""/>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <h4>Requirements Dates and Duration</h4>
    <hr/>
	<div class="requirement-date-div">
		<div class="table-responsive">
			<table class="table table-bordered  table-hover  table-datatable req-date-table">

				<thead>
					<tr>
						<th class="order noshow">ID</th>
						<th class="">Starts</th>
						<th class="">Duration</th>
						<th class="">Delete</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="reqInfo : ${reqInfos}">
						<td th:text="${reqInfo.id}">Onions</td>
						<td th:text="${reqInfo.start}">Onions</td>
						<td th:text="${reqInfo.weeks+' weeks'}">Onions</td>
						<td>
							<a class="btn btn-raised btn-xs delete-info" title="Delete Info">
								Delete
							</a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>



    <h4>Requirements</h4>
    <hr/>
    <div class="requirement-div">
		<div class="table-responsive">
			<table class="table table-bordered  table-hover  table-datatable req-table">

				<thead>
				<tr>
					<th class="order noshow">ID</th>
					<th class="">Surface</th>
					<th class="">Task</th>
					<th class="noshow">Days in week</th>
					<th class="noshow">Times</th>
					<th class="noshow">Area in Sq m.</th>
					<th class="">Days Shift</th>
					<th class="">Night Shift</th>
					<th class="">Required by Client</th>
					<th class="nosort nosearch">Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="req : ${requirements}">
					<td th:text="${req.id}">Onions</td>
					<td th:text="${req.product.surface}">Onions</td>
					<td th:text="${req.product.task}">Onions</td>
					<td th:text="${req.week}">Onions</td>
					<td th:text="${req.timesinshift}">Onions</td>
					<td th:text="${req.area}">Onions</td>
					<td th:text="${req.shift.day ? 'Yes':'No'}">Onions</td>
					<td th:text="${req.shift.night ? 'Yes':'No'}">Onions</td>
					<td th:text="${req.required ? 'Yes':'No'}">Onions</td>

					<td>
						<a class="btn btn-raised btn-xs quick-details" title="See Details">
							<i class="fa fa-eye fa-lg"></i>
						</a>
							
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>








	<div>
		<script th:inline="javascript">
			/*<![CDATA[*/

			/*]]>*/
		</script>



	</div>
</header>