<header th:fragment="body">
	<div class="box">
		<div class="sentmail-parent">
			<ul class="sentmail">
				<li th:each="mail,iterStat : ${sentmails}" th:class="${iterStat.odd}? 'sentmail-inverted' : ''">
					<div class="sentmail-badge">
						<a><i class="fa fa-circle" id=""></i></a>
					</div>
					<div class="sentmail-panel text-center">
						<div class="sentmail-heading">
							<h4 th:text="${#joda.shortDateTime(mail.sendtime)}">sentmail Event</h4>
						</div>
						<button class=" btn read-mail"><i class="fa fa-text"></i>Read Mail</button>
						<div class="sentmail-body modalTarget">
							<p class="modalTarget mail-body" th:utext="${T(org.apache.commons.lang3.StringEscapeUtils).unescapeHtml4(mail.body)}"></p>
						</div>
						<div class="sentmail-footer">
							<p class="text-right" th:text="${#joda.shortDateTime(mail.sendtime)}">Feb-21-2014</p>
						</div>
					</div>
				</li>

				<li class="clearfix no-float"></li>
			</ul>
		</div>
	</div>
	<style>
@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* -----------------------------------------------
 * sentmail
 * --------------------------------------------- */
 
 
.sentmail-parent{
    height: 600px;
    overflow: hidden;
}

.sentmail {
	list-style: none;
	padding: 10px 0;
	position: relative;
	font-weight: 300;
	width: 100%;
	height: 99%;
	overflow: auto;
	
}

.sentmail:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 2px;
	background: #ebebeb;
	left: 50%;
	margin-left: -1.5px;
}

.sentmail>li {
	margin-bottom: 20px;
	position: relative;
	width: 50%;
	float: left;
	clear: left;
}

.sentmail>li:before, .sentmail>li:after {
	content: " ";
	display: table;
}

.sentmail>li:after {
	clear: both;
}

.sentmail>li:before, .sentmail>li:after {
	content: " ";
	display: table;
}

.sentmail>li:after {
	clear: both;
}

.sentmail>li>.sentmail-panel {
	width: calc(100% - 25px);
	width: -moz-calc(100% - 25px);
	width: -webkit-calc(100% - 25px);
	float: left;
	border: 1px solid #dcdcdc;
	background: #ffffff;
	position: relative;
}

.sentmail>li>.sentmail-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #dcdcdc;
	border-right: 0 solid #dcdcdc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.sentmail>li>.sentmail-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #ffffff;
	border-right: 0 solid #ffffff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.sentmail>li>.sentmail-badge {
	color: #ffffff;
	width: 24px;
	height: 24px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 16px;
	right: -12px;
	z-index: 100;
}

.sentmail>li.sentmail-inverted>.sentmail-panel {
	float: right;
}

.sentmail>li.sentmail-inverted>.sentmail-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.sentmail>li.sentmail-inverted>.sentmail-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.sentmail-badge>a {
	color: #ffffff !important;
}

.sentmail-badge a:hover {
	color: #dcdcdc !important;
}

.sentmail-title {
	margin-top: 0;
	color: inherit;
}

.sentmail-heading h4 {
	font-weight: 400;
	padding: 0 15px;
	color: #4679bd;
}

.sentmail-body>p, .sentmail-body>ul {
	padding: 10px 15px;
	margin-bottom: 0;
}

.sentmail-footer {
	padding: 5px 15px;
	background-color: #f4f4f4;
}

.sentmail-footer p {
	margin-bottom: 0;
}

.sentmail-footer>a {
	cursor: pointer;
	text-decoration: none;
}

.sentmail>li.sentmail-inverted {
	float: right;
	clear: right;
}

.sentmail>li:nth-child(2) {
	margin-top: 60px;
}

.sentmail>li.sentmail-inverted>.sentmail-badge {
	left: -12px;
}

.no-float {
	float: none !important;
}

@media ( max-width : 767px) {
	ul.sentmail:before {
		left: 40px;
	}
	ul.sentmail>li {
		margin-bottom: 0px;
		position: relative;
		width: 100%;
		float: left;
		clear: left;
	}
	ul.sentmail>li>.sentmail-panel {
		width: calc(100% - 65px);
		width: -moz-calc(100% - 65px);
		width: -webkit-calc(100% - 65px);
	}
	ul.sentmail>li>.sentmail-badge {
		left: 28px;
		margin-left: 0;
		top: 16px;
	}
	ul.sentmail>li>.sentmail-panel {
		float: right;
	}
	ul.sentmail>li>.sentmail-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.sentmail>li>.sentmail-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
	.sentmail>li.sentmail-inverted {
		float: left;
		clear: left;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.sentmail>li.sentmail-inverted>.sentmail-badge {
		left: 28px;
	}
}
</style>
</header>